[2016-08-31 19:18] rockobonaparte commented on #205
I was following the build process and it mentioned having WiX if we intended to build the installer. What is the proper process for creating an installer without WiX?

[2016-08-31 20:09] jianyunt commented on #205
Add @raghushantha for a process to build a package.

[2016-09-02 17:34] jianyunt commented on #206
@bastianeicher,  I think there are two ways to allow users to find and install OneGet providers:

1) PowerShell modules with tags: 'Provider' and 'PackageManagement';
2) we can create a [swidtag feed](https://github.com/OneGet/ProviderRegistry) and link to your host site with htpps for 0install provider.  Currently we need a single .dll or .exe (recommend .dll) containing all OneGet API implementa

[2016-09-02 18:01] jianyunt commented on #199
Good suggestions. Thanks.

Let me paraphrase it:
1.If a user does not specify -AllowPrereleaseVersions, we should pick up the latest stable version. This apples the dependency too.
2.if a user specifies exact version, we will pick up the exact version regardless it is pre-release or not. However the dependencies will be the latest stable.
3. if a user specifies -AllowPrereleaseVersions, we will pi

[2016-09-03 22:34] bastianeicher commented on #206
I think we will have to go with the swidtag feed route since my provider is written purely in C#.

Regarding your questions:
1) The binary is named `zero-install.exe` and can be downloaded here: https://0install.de/files/zero-install.exe
2) Once this binary is placed in `ProviderAssemblies` it does require an additional post installation action, however it performs this by itself when it is used f

[2016-09-05 18:15] Jaykul commented on #199
Perhaps even call it `-SkipDependencyCheck` ... but yes, this sounds correct, with one caveat: make sure that if the dependency specifies a pre-release version, or a module where there are _only_ pre-release versions, that it still works.

[2016-09-06 16:49] jianyunt commented on #199
Thanks, JayKul.  The change need to be made in both PSGet and NuGet providers.

[2016-09-06 17:34] jianyunt commented on #206
Thanks for your response. Regarding Nano server, NuGet provider uses if CoreClr ... I suggest you may do something equivalent to check the platform and provide proper message.

[2016-09-08 23:11] bastianeicher commented on #206
Thanks for the CoreClr info. I'll add a check in the next release.

Are there any further steps required before creating a swidtag feed for the Zero Install provider?

[2016-09-12 11:15] afscrome opened #208 "Unclear error message when accessing an authenticated feed without credentials"
If you try and access a feed that requires authentication without credentials, you get a very misleading error message, you get a very unclear error message
[code]

I'd expect the error message to state that the feed requires authentication, and recommend supplying credentials on the `Credential` argument

Based on this error message, my first attempt to try and fix this issue was to try `Register

[2016-09-12 11:20] afscrome opened #209 "Credentials not passed to nuget feed requiring authentication"
I'm unable to get authentication working against an authenticated nuget feed.  From fiddler I can see that nuget is attempting to access the feed url, gets back a 401 challenge but never completes the challenge.  Any ideas why this isn't working?

[code]

From capturing the traffic with Fiddler, it looks like OneGet attempts to maek an HTTP Get to the package source, gets a Basic Auth challenge, b

[2016-09-13 20:57] Daniel-Guenter opened #211 "PSGet setting DotNetFrameworkVersion results in malformed package"
Setting the variable DotNetFrameworkVersion in the .psd1 file of a powershell package results in a malformed package.  Publish-Module will succeed but Save-Module or Install-Module errors out.

-Name MemX.PS.Core.Module -Path D:\Tmp
PackageManagement\Install-Package : Cannot bind argument to parameter
'PSModuleInfo' because it is null.
At C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\PS

[2016-09-13 21:51] bmanikm commented on #211
@Daniel-Guenter Could you please provide the complete repro steps and module contents? It looks like you are using very old version of PowerShellGet module. Ensure that Test-ModuleManifest works fine with your module contents too.

[2016-09-13 22:10] jianyunt commented on #201
@pulporange, can you try the [ChocolateyGet provider](https://github.com/jianyunt/ChocolateyGet) instead to see if it satisfies your scenario.

[2016-09-13 22:12] jianyunt commented on #200
@CMCDragonkai, can you try the [ChocolateyGet provider](https://github.com/jianyunt/ChocolateyGet) instead to see if it satisfies your scenario.

[2016-09-13 22:40] Daniel-Guenter commented on #211
It looks like updating PowerShellGet solved this issue.  Thanks for pointing me in the right direction.

[2016-09-13 22:40] #211 closed

[2016-09-14 05:52] CMCDragonkai commented on #200
So this a third chocolatey provider?
On 14/09/2016 8:12 AM, "Jianyun" <notifications@github.com> wrote:

[2016-09-18 15:46] bastianeicher commented on #206
I have created a swidtag feed for Zero Install that will be automatically updated with new releases:
https://0install.de/feeds/ZeroInstall.swidtag

Can you add a link to this feed to the OneGet Providers master list?

Can you add this feed to the

[2016-09-22 16:50] jianyunt commented on #206
@bastianeicher, I am tied up with oneget .netcore build right now. I will get back to you  in a couple of weeks to assist you to publish Zero Install. thank you for your patience.

[2016-09-26 19:34] Jaykul opened #215 "What are catalogs, and why should I care?"
I recently tried to update the Pester module because the one on my computer was reporting as version 3.4.0 and `Find-Module` reported one versioned 3.4.3 ... but upon running Update-Module I was greeted with a series of **incredibly unhelpful** error messages:

First;

[code]
[code]

I remember this error from the pre-releases of Windows 10, but I thought the team had solved it by shipping the man

[2016-09-26 21:53] Jaykul commented on #215
Follow up: I've determined these are, in fact just catalog files generated by the completely undocumented `New-FileCatalog` command and signed (using `Set-AuthenticodeSignature`).

Now more than ever I'm curious why this **install-time only** feature was implemented, when it's so easy to bypass, but just forces you to run the command again with another switch. I already had to go through:

1. `Upd

[2016-09-27 13:13] CMCDragonkai commented on #200
@jianyunt Thanks for developing ChocolateyGet, it worked on the regshot package! I suppose ChocolateyGet is better than the prototype Chocolatey?

[2016-09-27 13:13] #200 closed

[2016-09-27 15:51] gudenuff commented on #166
I am experiencing the same issue.

## Steps to reproduce

* Open Windows PowerShell ISE and open Module Browser tab.
* In the Gallery pane Click search button.

### Observed behavior

On the Gallery pane you get error messages:

`Installing nuget-anycpu.exe`

This turns into

`Initialization failed. Unable to find package provider 'NuGet'.`

### Expected result

Switching to Gallery pane should al

[2016-09-27 16:53] jianyunt commented on #200
Microsoft internal team does not maintain prototype Chocolatey provider. But I plan to improve ChocolateyGet and I welcome and appreciate the contributions from community to improve ChocolateyGet.

[2016-09-30 01:50] pulporange commented on #201
Hi @jianyunt Sorry for the late response, i'll give it a try this week-end
Thanks for the update on this

[2016-09-30 09:01] megamorf opened #217 "Get-Package - Implicit wildcard filter for Name attribute"
Could you add a switch property to Get-Package that disables the implicit wildcard. That behaviour of Get-Package is causing issues in Pester tests, e.g. here: https://github.com/Ticketmaster/poshspec/issues/22#issuecomment-250535418

Thanks in advance :-)

[2016-09-30 19:13] Plork commented on #171
This work's now for packages but I still have issues with bootstrapping nuget as part of the CD/CI process behind a corp. proxy.

[2016-10-03 17:12] bbasselgia commented on #195
Is there a fix or workaround for this short of disabling FIPS?  I work in an environment were FIPS is required, and would really like to get this working.  Disabling FIPS isn't an option.

[2016-10-03 17:23] jianyunt commented on #195
@bbasselgia , the PackageManagement module we just published last week on the [PowerShellGallery](https://www.powershellgallery.com/packages/PackageManagement/1.1.0.0) contains the fix.  You may follow our [blog to try it out] (https://blogs.msdn.microsoft.com/powershell/2016/09/29/powershellget-and-packagemanagement-in-powershell-gallery-and-github/). thx

[2016-10-04 17:57] jianyunt commented on #217
This is a msi provider issue.

[2016-10-05 20:29] citelao commented on #215
Maybe ask the PowerShellGet community (https://github.com/PowerShell/PowerShellGet)? They're the ones who maintain the Update-Module commands (`get-command -Module PowerShellGet`)

[2016-10-06 15:56] Jaykul commented on #215
Well, the error was thrown from  Install-Package, and the error string was in this repo, and _that_ repo literally didn't exist at the time.

[2016-10-06 15:56] #215 closed

[2016-10-06 22:54] jianyunt commented on #206
@bastianeicher Do you have instructions for users to  use the provider?  I tried:

PS C:\> find-package -provider 0install
WARNING: Name missing
PS C:\> find-package -provider 0install  -Name *
PS C:\> find-package -provider 0install  -Name * -verbose
VERBOSE: Using the provider '0install' for searching packages.
VERBOSE: Searching for short-name match in Catalog: *
VERBOSE: Searching for partial

[2016-10-06 23:02] jianyunt commented on #205
@rockobonaparte  we are using dotnet build now. You can follow the steps below to generate binaries, then you can package them using nuget.exe or simply zip it.

git clone --recursive https://github.com/OneGet/oneget.git
cd src
./bootstrap.ps1
..\build.ps1 net451 Release

[2016-10-07 00:01] bastianeicher commented on #206
@jianyunt: Thanks for testing this.

There was a bug in 2.11.9 that caused the `-Name` parameter to be treated as required instead of optional. Only calls with specific package names like `Find-Package -Provider 0install -Name vlc` worked.

I have justed published 2.11.10 that fixes this. `Find-Package -Provider 0install` now lists all known packages in the registered packages sources.

[2016-10-07 00:48] jianyunt commented on #206
I can see find-package returns some results. But if I run find-package again returns nothing. See

PS C:\WINDOWS\system32> find-package -ProviderName 0install

Name                           Version          Source           Summary
----                           -------          ------           -------
Apache Ant                     1.9.4            http://0insta... A software project management

[2016-10-07 00:54] jianyunt commented on #206
@bastianeicher,  FYI..
find-package -- a provider is expected to search packages in the source where a user registered or specified from cmdlet. No packages should be installed at this point of time.

get-package  -- a provider searches any installed packages on local machine.
install-package -- a particular package that a user requests will be installed from the source where a user provides.
unin

[2016-10-07 01:13] bastianeicher commented on #206
Multiple calls to `Find-Package -ProviderName 0install` work fine for me. `Get-Package`, `Install-Package` and `Uninstall-Package` are implemented as you described.

Perhaps you updated the bootstrapper assembly in `%localappdata%\PackageManagement\ProviderAssemblies` but not the actual Zero Install deployment?
The Zero Install Provider will perform update-checks for this once a week but you can t

[2016-10-07 01:45] jianyunt commented on #206
I created feed and swidtag for 0install. You can see [here](https://github.com/OneGet/ProviderRegistry/blob/testing/zeroinstall.feed.swidtag)

Please try out by following steps:
$env:BootstrapProviderTestfeedUrl = "https://raw.githubusercontent.com/OneGet/ProviderRegistry/testing/zeroinstall.feed.swidtag"
find-packageprovider
install-packageprovider 0install -debug -verbose
find-package -provider

[2016-10-07 10:49] bastianeicher commented on #206
Thanks. After some more debugging I found another potential issue that might cause `Find-Package` to fail after the first use. I will publish a new release with a fix later today.

Will the final swidtag feed file be hosted by Microsoft or can I host it on my own website? If it needs to be hosted Microsoft, what is the process for releasing updates?

When I create a new release the bootstrapper fi

[2016-10-07 17:14] jianyunt commented on #206
@bastianeicher  you can host your swidtag. A user just need to set the path
$env:BootstrapProviderTestfeedUrl = "https://myfeed before using it.   I think that’s possibly much easier for you.

 Here are something I recommend you to do to help the broader adoption of the 0install provider:

1. Add some tests such as find-package, install-package, get-package, uninstall-package.
2. In your 0install

[2016-10-07 18:55] bastianeicher commented on #206
When "installing" a package Zero Install creates shortcuts pointing to `0install.exe package_uri` instead of the application itself. This is similar to Windows Installer Advertised Shortcuts and supports features such as download-on-first use, self-healing, side-by-side versioning and background updates. This means that Zero Install itself needs to be located in a well-known location (e.g. `%AppDa

[2016-10-07 19:05] bastianeicher commented on #206
When a user downloads and runs https://0install.de/files/zero-install.exe they can chooses to deploy/install Zero Install to their computer. This also includes the OneGet provider (`ZeroInstall.OneGet.dll`), which is registered using the `SOFTWARE\PackageManagement` registry key.

The most straight-forward way to support `Install-PackageProvider 0install` would be to download and execute `zero-ins

[2016-10-07 19:54] bastianeicher commented on #206
**Sample scenario**

User on a fresh Windows 10 machine enters:
[code]

OneGet finds no installed `0install` provider, downloads [providers.masterList.feed.swidtag](https://github.com/OneGet/ProviderRegistry/blob/master/providers.masterList.feed.swidtag), finds and follows link to https://0install.de/feeds/ZeroInstall.swidtag.

Prompt appears:
[code]
User presses `Y`.

`zero-install.exe` is downlo

[2016-10-07 21:33] bastianeicher commented on #206
I have updated my swidtag feed and successfully tested this:
[code]

[2016-10-10 19:56] citelao opened #219 "Import PackageProvider by default"
Hey---

I'm trying to save the ChocolateyGet provider to be available for all new Powershell sessions. Right now I have to run `Import-PackageProvider ChocolateyGet` for every new session.

It looks like the `-ForceBootstrap` or `-Force` options might be helpful, but neither of them had an effect.

Is there a way to do this?

[2016-10-11 00:36] dragosv commented on #172
For me it fails

VERBOSE: Using the provider 'NuGet' for searching packages.
VERBOSE: Searching repository 'https://api.nuget.org/v3/index.json/FindPackagesById()?id='Microsoft.Experimental.IO'' for ''.
install-package : No match was found for the specified search criteria and package name 'Microsoft.Experimental.IO'. Try
Get-PackageSource to see all available registered package sources.
At line:1

[2016-10-11 16:34] jianyunt commented on #172
@dragosv I can not repro your scenario. See steps below.  NuGet works fine with https://www.nuget.org/api/v2/. Which source location are you registering to?

PS C:\WINDOWS\system32> get-packageprovider nuget

Name                     Version          DynamicOptions
----                     -------          --------------
NuGet                    2.8.5.207        Destination, ExcludeVersion, Scope,

[2016-10-11 21:32] dragosv commented on #172
So it looks like this is fixed by specifying -Source https://www.nuget.org/api/v2/ (Ex: Install-Package MSBuild.Microsoft.VisualStudio.Web.targets -MinimumVersion 14.0.0.3 -ProviderName nuget -Source https://www.nuget.org/api/v2/ -Force).

[2016-10-12 12:47] bbasselgia commented on #195
This is getting a bit frustrating.  for something that is suppose to make life easier, this shouldn't be that hard.  If this actually worked it would be great.   But, there are a lot of us who work in disconnected environments, not having a stand alone installer for this stuff is leaving us high and dry.

I'm still not able to get any of the package managment commands to work.
Here is my environem

[2016-10-12 17:30] jianyunt commented on #219
@citelao, I think  you can specify -providername ChocolateyGet for auto-loading it. However you do need to explicitly install it.
 ChocolateyGet is not designed to be bootstrapped. In fact, all providers in the PowerShellgallery.com work in the same way, i.e., not designed for bootstrapping. Yes -ForceBootstrap or -Force will not help.

[2016-10-12 17:45] jianyunt commented on #206
@bastianeicher if you would like to host the swidtag feed, then in your 0Install source repo readme.md, you may want to document it how to use it. For example a user has to set
         $env:BootstrapProviderTestfeedUrl = "https://0install.de/feeds/ZeroInstall.swidtag"
Is this the approach you want?

If you want to discover the provider via find-packageprovider, we have to put it in our Azure stor

[2016-10-13 15:11] mobeus1 commented on #166
any resolution to thsi. I am having the exact same issue with the module browser.

[2016-10-14 21:02] jianyunt opened #221 "Need to support -scope allusers/currentuser on Linux?"
If so, we need to figure out to identify the admin privilege (IsElevated function).

[2016-10-14 21:23] jianyunt commented on #195
I am currently tied up with other work. I look into it after a week or so.  Sorry for the inconvenience.

[2016-10-15 08:57] bastianeicher commented on #206
@jianyunt thanks for the feedback.

The `$env:BootstrapProviderTestfeedUrl` approach is very helpful for local testing but not really useful for distribution to end-users, since they could simply download `zero-install.exe` themselves if they already need to know a specific URL.

Is there some sample code on how to create a PowerShell-based package provider that can be discovered by `Find-PackageP

[2016-10-15 20:51] pulporange commented on #201
I've tested it from provider install to app uninstall, it works like a charm

[2016-10-15 20:51] #201 closed

[2016-10-16 01:19] jianyunt commented on #206
If you want to prompt users, you can use Request.ShouldContinue(). It's handy. See example in [PSL provider line 255] (https://github.com/OneGet/PSLProvider/blob/master/PackageList/PackageListProvider.cs).

If you want to wrap it with PowerShell, you need to create a psd1. For example,

New-ModuleManifest -Path c:\test\0install.psd1   to create the file, open the file, fill in the fields.

In the

[2016-10-16 01:24] jianyunt commented on #181
The issue is fixed in Windows Sever 2016. Thanks for reporting it.

[2016-10-16 09:35] bastianeicher commented on #206
`.ShouldContinue()` seems to be missing from [ProviderSdk:Request](https://github.com/OneGet/ProviderSdk/blob/master/Sdk/Request.cs). I've copied it from [PSLProvider:Request](https://github.com/OneGet/PSLProvider/blob/master/Sdk/Request.cs). Is the difference in available methods intentional?

Thanks for the PowerShell instructions. I will give it a try.

[2016-10-17 16:52] jianyunt commented on #206
Not intentional. It looks like  ProviderSdk needs to be updated.

[2016-10-17 20:19] bmanikm opened #223 "'published' metadata is not populated for the installed package from a local source."
Published metadata is not populated for the installed package from a local source.

[code]

[2016-10-18 22:10] jianyunt commented on #209
@afscrome I tried with our private nuget feed.  no luck to repro it. I created personal token by following [this instruction](https://www.visualstudio.com/docs/setup-admin/team-services/use-personal-access-tokens-to-authenticate), then tried something like below. It works for me.

find-package -provider nuget -Source https://myprivatefeed.visualstudio.com/DefaultCollection/_packaging/psgettestfeed

[2016-10-19 15:18] mtrog commented on #195
@jianyunt , you are correct, disabling FIPS allows this to function.  However, the PackageManagement module you mention above does not resolve the issue when FIPS is enabled.  The updated module throws the following error when fips is enabled:

`PackageManagement\Install-Package : Package 'xWebAdministration' failed to be installed because: Exception has been
thrown by the target of an invocation.

[2016-10-19 19:18] jianyunt commented on #195
@bbasselgia, @mtrog thanks for you info. I tried on my Win10 box, I was not able to repro it.
However I am able to repro it on Windows Server 2012 R2 VM.
When a user types install-module, OneGet and NuGet provider parse the package metadata where we find the package hash algorithm. Then we uses this hash algorithm to validate if the download package is valid.

On FIPS enable machine, I saw the exc

[2016-10-19 19:49] mtrog commented on #195
Yes.  My workaround is to use set-itemproperty to change the value of
HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Lsa\FipsAlgorithmPolicy\Enabled
to 0 and relaunch powershell.  I then install the module and publish it to
my local repository.  After this, I use gpupdate or set-item property to
set the value of enabled back to 1 (GPO is configured to enforce this).

On Wed, Oct 19, 2016, 12:

[2016-10-20 16:00] citelao commented on #219
@jianyunt Thanks for the response!

I'm not sure I understand your concrete advice about `-providername`. `Import-PackageProvider` works as-is, but does not force load for new sessions.

Also, what do you mean by "not designed for bootstrapping"? If bootstrapping is what I think it is (loading at shell startup), why shouldn't they be able to? It seems equivalent to adding a line to my Powershell p

[2016-10-20 16:51] jianyunt commented on #219
@citelao, when I say "-providername", I mean that, if you are on Win10 Anniversary, Windows Server 2016, or WMF 5.0 RTM or WMF 5.1 Preview, running the following cmdlet will load the provider by OneGet.
[code]

The way that provider loading works is similar to module loading. Assuming you have multiple PowerShell modules installed on your system, but not all of them will be loaded when you start a

[2016-10-20 16:55] citelao commented on #219
Well that makes sense :D

Who controls what can/can't be autoloaded? How?

[2016-10-20 17:22] jianyunt commented on #219
So far, only NuGet provider is auto-loaded by OneGet.  The [NuGetProvider](https://github.com/OneGet/NuGetProvider) is not PowerShell module.  We are internally hosting it in our storage. It follows swidtag [something like this](https://github.com/OneGet/ProviderRegistry/blob/master/nuget.feed.swidtag). This entire publishing NuGet provider process is manual - not convenient.
We recommend people p

[2016-10-20 22:23] bastianeicher commented on #206
I have successfully published a `0install` provider in the PowerShell gallery. The following works:
[code]

However, there seem to be some disadvantages compared to the swidtag solution:
 * `Install-Package vlc -Provider 0install` does not automatically suggest installing the `0install` provider if it is missing. An explicit `Install-PackageProvider` call is required.
 * When I open a new PowerShe

[2016-10-20 22:27] bastianeicher commented on #206
I have published a versioned copy of the boostrapper (`zero-install.exe`) here:
http://0install.de/files/zero-install-2.12.0.exe
The hash of this file will not change when new releases are published.

Could you add this file to the official ProviderRegistry swidtag feed? It's no problem if future updates don't get added right away.

[2016-10-20 23:47] jianyunt commented on #206
It is expected users to run find-PackageProvider and Install-PackageProvider. I do not see our customers complaining about it.  For any providers in PowerShellGallery.com, it is needed to Install-PackageProvider.

After the install, a user can  do 'find-package vls -provider 0install', it will load the  0install provider. No import-pp is necessary.

[2016-10-24 17:53] bastianeicher commented on #206
If I use `Find-Package somepackage` without specifying a specific package provider I get results from all installed package providers. This seems to be the main advantage of OneGet to me: easily finding packages without always having to know the source in advance.

However, if I install a provider from PowerShell Gallery using `Install-PackageProvider` and then open a new PowerShell session this p

[2016-10-24 20:33] jianyunt commented on #195
@mtrog, bbasselgia, may I ask you favor?  I made code change for fixing this issue and the build is out, [see here](https://ci.appveyor.com/api/buildjobs/dawkogrqdw5lta8p/artifacts/OneGet.FullClr.zip).  You need to download the zip, unzip it, and copy the entire folder to your target machine under "$env:ProgramFiles\WindowsPowerShell\Modules\PackageManagement\1.1.0.0"

Because the binaries are not

[2016-10-24 21:07] vercellone commented on #174
@CodeCyclone

Based on [nuget.tests.ps1](https://github.com/OneGet/oneget/blob/b84db7f72fcc130a122189b31a268d1876138c50/Test/ModuleTests/tests/nuget.tests.ps1), I was able to successfully register, find, and install a module published to my VSTS feed.  I believe the key is to use a /v2 (not /v3/index.json) -SourceLocation and either always specify -Credential or configure the [Nuget Auth Helper](h

[2016-10-28 21:02] HemantMahawar opened #228 "Find-Module: Can't find module providers (Mac OS X)"
_From @HemantMahawar on October 28, 2016 20:38_

_From @juneb on August 21, 2016 16:12_

This might be a user error. I'm new to Mac world. Apologies in advance if I've missed a step.

Mac OS X 10.11.6 (15G31) El Capitan
PSVersion: 6.0.0-alpha
PSEdition: Core
PowerShellGet 1.0.0.1
PackageManagement 1.0.0.1

[code]

Steps to reproduce
------------------
Find-Module

Expected behavior
---------------

[2016-10-28 21:02] HemantMahawar commented on #228
_From @jasontayler on August 22, 2016 1:48_

you need to install .net core
Follow https://www.microsoft.com/net/core#macos

PS /Users/j> (find-module).count
943

[2016-10-28 21:02] HemantMahawar opened #229 "Cannot install EWS via NuGet, Ubuntu 16.04 and 14.04"
_From @HemantMahawar on October 28, 2016 20:37_

_From @jwcrawley on October 4, 2016 19:18_

Steps to reproduce
------------------
install Powershell for Linux (stock Ubuntu 14.04 or 16.04 - tested with both)
execute powershell in terminal
PS :> Install-Package Microsoft.Exchange.WebServices   (as listed https://www.nuget.org/packages/Microsoft.Exchange.WebServices/ )

Actual behavior
------------

[2016-10-28 21:03] HemantMahawar commented on #229
_From @andschwa on October 12, 2016 18:27_

Looks to me like package sources aren't setup. How did you add NuGet.org as a package source?

[2016-10-28 21:03] HemantMahawar opened #230 "nuget feature tests are failing in daily builds"
_From @HemantMahawar on October 28, 2016 20:38_

_From @JamesWTruher on September 26, 2016 19:44_

https://ci.appveyor.com/project/PowerShell/powershell/build/6.0.0-alpha.10-686#L6984
is an example

Steps to reproduce
------------------

observe daily build (ex: https://ci.appveyor.com/project/PowerShell/powershell/build/6.0.0-alpha.10-686)

Expected behavior
-----------------
no errors

Actual be

[2016-10-28 21:03] HemantMahawar opened #231 "PackageManagment binaries should be installed under \Modules\PackageManagement\ folder"
_From @HemantMahawar on October 28, 2016 20:38_

_From @jianyunt on September 22, 2016 23:49_
# Problem

It is observed that PowerShell core is loading assembles from its installed folder first (e.g. PowerShell\6.0.0.10) if exists, even if ipmo with a full path.  For most cases, this behavior seems to be ok.  However for the PackageManagement, we need to allow users to update the PackageManagement

[2016-10-28 21:03] HemantMahawar commented on #231
_From @kilasuit on September 23, 2016 0:55_

This looks like it is the same for the other modules that are installed with v6.0.0.10 too so would need to be resolved for them as well.

[2016-10-28 21:03] HemantMahawar commented on #231
_From @daxian-dbw on September 23, 2016 19:15_

This happens because when running `Import-Module <path-to-foo.dll>`, powershell first tries to load the assembly using its short name `foo` via `Assembly.Load`, and if that fails, it turns to `LoadFrom` with the file path (https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/ExecutionContext.cs#L1376).

Therefo

[2016-10-28 21:03] HemantMahawar commented on #231
_From @daxian-dbw on September 23, 2016 19:21_

At any rate, if we want any in-box module to be update-able, then it should not leave the original set of assemblies around after it's updated. So `PackageManagement` assemblies should be placed within the module folder, at least when we package and release powershell core.

[2016-10-28 21:03] HemantMahawar commented on #231
_From @kilasuit on September 24, 2016 13:45_

see #2350 which also has this similar issue and would correct this too

[2016-10-28 22:06] #230 closed

[2016-10-28 22:09] jianyunt commented on #228
PowerShellAlpha.11 solves this problem.

[2016-10-28 22:09] #228 closed

[2016-10-28 22:16] jianyunt commented on #229
Tried on alpah.11. No repro. Please make sure you launch powershell as sudo.

[2016-10-28 22:16] #229 closed

[2016-10-31 15:08] edwinbarton commented on #166
Almost a year later now and still no fix????  I have this same problem on the Anniversary edition of Windows 10 just as some other users have reported.  Now that I've discovered this feature it'd sure be nice to actually get to use it!

[2016-11-01 01:34] jeopal opened #232 "Add "SkipDependencies" to Save-Package in NuGet PackageManagement Module"
We are trying to use Save-Package to download multiple NuGets from different sources. Some NuGets have dependencies on NuGets from different sources. Each NuGet may exist in multiple locations, but must be downloaded from a specific location - even if the version number is lower. Currently, we have a work-around in place in order to continue using Save-Package to create our product: We iterate thr

[2016-11-01 22:59] pburkholder commented on #195
I've hit the same issue with FIPS compliance enabled.  I'll test this tomorrow too....

[2016-11-01 23:14] jianyunt commented on #231
This is PowerShellCore issue. Reopen it in PowerShellCore github.

[2016-11-02 00:53] jianyunt commented on #195
@pburkholder thank you. Please make sure the NuGetProvider is loaded from the [package](https://ci.appveyor.com/api/buildjobs/dawkogrqdw5lta8p/artifacts/OneGet.FullClr.zip). You can delete the Nuget provider from $env:ProgramFiles\PackageManagement\ProviderAssemblies\nuget first before launching the PowerShell Console.   Get-PackageProvider -name NuGet | fl to check if it is loaded from the OneGet

[2016-11-02 14:39] pburkholder commented on #195
Hi - This looks good. I unzipped your package as directed, and ran the registry updates per https://gist.github.com/pburkholder/2ff8afd73043e836ddcbfa9d158ae21c. Then started a new Admin powershell:

[code]

[2016-11-02 16:21] mtrog commented on #195
I unzipped the package, moved the files, and disabled strong name validation per your instructions.  I am now unable to import the packagemanagement module.  See below:

``Windows PowerShell
Copyright (C) 2015 Microsoft Corporation. All rights reserved.

PS C:\WINDOWS\system32> import-module PackageManagement
Import-Module : Could not load file or assembly 'file:///C:\Program
Files\WindowsPowerShe

[2016-11-02 16:41] jianyunt commented on #195
Thank you @pburkholder for the validation.

[2016-11-02 16:50] jianyunt commented on #195
@mtrog, is it possible your machine is somehow blocking the files from getting dll loaded. Can you please try:
right click on one dll file -> Properties->General

If you see  "This file came from another computer and might be blocked to help protect this computer" under Security, click on unblock check box.

[2016-11-02 17:21] mtrog commented on #195
My apologies, an oversight on my part.  You were correct, the files were blocked.  That being said...
The behavior with FIPS enabled, the provided patch applied, and strong names disabled:

[code]

The behavior with FIPS disabled:
[code]

[2016-11-02 17:25] jianyunt commented on #195
@mtrog, can you please make sure you remove the existing nuget provider first and then launch the PowerShell console. thx again for trying it.
$env:ProgramFiles\PackageManagement\ProviderAssemblies\nuget
$env:LOCALAPPDATA\PackageManagement\ProviderAssemblies

[2016-11-02 18:01] mtrog commented on #195
it works now, thanks!

[code]

[2016-11-02 18:22] jianyunt commented on #195
Great. Thank you! The change will be published to PowerShellGallery.com soon.

[2016-11-02 18:32] bmanikm opened #233 "Disable older version of NuGet provider to be installed or loaded on PowerShell Core from repo."
_From @jianyunt on July 13, 2016 20:48_

As NuGet provider is a part of PowerShell Core now, it no longer requires to be bootstrapped. However, we need to disable any older version of NuGet provider to be installed or used on Core because they simply won't work on PowerShell Core alpha version..
## Steps to reproduce

find-packageprovider
install-packageprovider -name NuGet -version 2.8.5.205 -for

[2016-11-02 19:28] jeopal opened #234 "Add -PackageSaveMode tag to Install-Package in the NuGet PackageManagement Provider"
We are migrating our infrastructure from NuGet.exe to the NuGet PackageManagement Provider. "nuget install" had the option to install the NuGet and retain the nuspec rather than the nupkg in the installed NuGet (The command was this: nuget install <nugetName> -packagesavemode "nuspec"). We cannot switch our install commands to Install-Package until it is updated to mimic this functionality because

[2016-11-02 21:17] HemantMahawar commented on #231
PowerShellCore issue [PowerShell/PowerShell#2347](https://github.com/PowerShell/PowerShell/issues/#2347)

[2016-11-02 22:22] pburkholder commented on #195
I had the same issue with `PackageManagement\Install-Package : Package 'xSQLServer' failed to be installed because: Exception has been thrown by the target of an invocation.` but it was **resolved by, indeed, removing the NuGet provider**.

I could NOT remove the nuget provider from within powershell `The action can't be completed because the file is open in powershell.exe` so I had to use explore

[2016-11-03 17:25] jianyunt commented on #233
@SteveL-MSFT,  These are PowerShell Core build/setup issue, why moved here?

[2016-11-03 17:49] SteveL-MSFT commented on #233
@jianyunt we bulk moved a bunch of issues we thought belong in their own repos.  are you saying the fix is in PowerShell Core?

[2016-11-03 17:54] jianyunt commented on #233
@SteveL-MSFT, Yes. The fix should be in PowerShellCore.

[2016-11-03 18:07] SteveL-MSFT commented on #233
I reopened the original, you can close this one

[2016-11-03 18:23] jianyunt commented on #233
ok. thx

[2016-11-03 18:23] #233 closed

[2016-11-03 22:24] jianyunt commented on #231
ok . thx

[2016-11-03 22:24] #231 closed

[2016-11-03 22:25] #219 closed

[2016-11-03 22:27] jianyunt commented on #1
Supported  in WMF 5.1 or Windows Server 2016 or Win10 Anniversary.

[2016-11-03 22:27] #1 closed

[2016-11-03 22:30] jianyunt commented on #171
@Plork, bootstrapping should be supported too. What issues you are hitting?

[2016-11-03 22:39] jianyunt commented on #174
On WMF 5.1, Win10 Anniversary, and Windows Server 2016, you should be able to register-psrepository to your path. We support NuGet V2 protocols. As @vercellone mentioned, /v2 is needed.

[2016-11-03 22:44] jianyunt commented on #179
Thanks for reporting the issue. The fix made in WMF 5.1 Preview, Win10 Anniversary, and Windows Server 2016.

[2016-11-03 22:44] #181 closed

[2016-11-03 22:53] jianyunt commented on #206
I am glad to see 0intall module in the PowerShellGallery.com!

We would like more providers in the gallery instead of our internal storage. It's good for maintainers. In terms of user experiences, it's reasonable.  In addition, as you may noticed, we added the NuGet provider assembly in with PackageManagement module folder on [PowerShellCore](https://github.com/PowerShell/PowerShell). This means t

[2016-11-03 23:08] jianyunt commented on #192
This issue was moved to PowerShell/PowerShellGet#47

[2016-11-03 23:08] #192 closed

[2016-11-03 23:08] jianyunt commented on #185
This issue was moved to PowerShell/PowerShellGet#48

[2016-11-03 23:08] #185 closed

[2016-11-03 23:08] jianyunt commented on #168
This issue was moved to PowerShell/PowerShellGet#49

[2016-11-03 23:08] #168 closed

[2016-11-03 23:09] jianyunt commented on #155
This issue was moved to PowerShell/PowerShellGet#50

[2016-11-03 23:09] #155 closed

[2016-11-03 23:09] jianyunt commented on #146
This issue was moved to PowerShell/PowerShellGet#51

[2016-11-03 23:09] #146 closed

[2016-11-04 04:50] nschley opened #236 "update links in readme.md"
The following links need to be updated at the top of the "Building the code" section:

- for any version of xunit newer than vintage 2013:  https://github.com/xunit/xunit.
- for ReSharper:  http://www.jetbrains.com/resharper/?gallery
- for Resharper xUnit test runner: http://resharper-plugins.jetbrains.com/packages/xunitcontrib/

[2016-11-04 13:43] jsco2t commented on #179
@jianyunt any word on when we will see the official WMF 5.1 RTM download package? I did some searching this morning and don't see anything other then preview releases.

[2016-11-04 16:17] jianyunt commented on #179
@jsco2t, I cannot tell the date but we are internally testing it.
By the way, if you need the fix for your downlevel machines, you can update the packageManagement module from the PowerShellGallery.com.

[2016-11-04 23:55] jianyunt commented on #236
@nschley thank you for reporting it. I updated the readme.

[2016-11-07 17:16] pburkholder commented on #195
@jianyunt Look forward to the upcoming release. Can you update this issue when that happens?  Thanks, Peter

[2016-11-08 19:43] jgodse opened #239 "How to install PowerShell and Azure RM SDK on Ubuntu 14.04?"
I have a virgin system with Ubuntu 14.04, and Powershell (6.0.0-alpha) (GitCommitId=v6.0.0-alpha.12). I installed powershell successfully by following instructions on the Powershell Git repository. For the Azure Powershell SDK, I tried various places but nobody's installation instruction works for Ubuntu 14.04.

I would like to also install the Powershell Azure SDK (using Powershell) to manage my

[2016-11-10 18:27] jianyunt commented on #239
@jgodse, PackageManagement in PowerShell Alpha12 is broken. Please use alpha11. We are working on the fix. Sorry for the inconvenience  .

[2016-11-10 19:04] jgodse commented on #239
Thanks for the heads-up.  How do I install or use Alpha 11? Or, conversely, how long can I expect it to take for Alpha12+ to have package management working?

[2016-11-10 20:07] jianyunt commented on #239
You can find alpha11 from https://github.com/PowerShell/PowerShell/releases and follow [the instructions to get it installed](https://github.com/PowerShell/PowerShell/blob/master/docs/installation/linux.md#ubuntu-1404).

 NuGet provider is included in the install, you do not need to run install-packageprovider once installed the powershell alpha. So you can run find-module xjea for example.

[2016-11-10 21:03] lazywinadmin opened #241 "How to write a provider ?"
Would it be possible to document the process of creating a Provider ?

The MyAlbum module available on the gallery is useful but a proper documentation on how to build a provider step by step should be present in the wiki for example.

cc: @jianyunt

[2016-11-10 21:15] jianyunt commented on #241
Hey @lazywinadmin, we will create one. I am tied up with something else right now. It will take sometime. Hope it's ok with you. Thanks for your input.

[2016-11-10 21:16] lazywinadmin commented on #241
Thanks @jianyunt ! No problem. It was nice to meet you at the MVP Summit

[2016-11-11 02:19] jianyunt commented on #195
Just published the PackageManagement module to PowerShellGallery.com.
You can run `install-module PowerShellGet -force`
to get the latest PowerShellGet, NuGet Provider and PackageManagement modules.
Because PowerShellGet depends on PackageManagement, 'install-module PowerShellGet -force' will auto install PackageManagement. The new version is 1.1.1.0.

[2016-11-14 21:15] kim0 commented on #228
@jianyunt  Apparently this bug still exists ? See below:

[code]

[2016-11-14 22:02] jianyunt commented on #228
@kim0, v6.0.0-alpha.12 is broken due to https://github.com/PowerShell/PowerShell/issues/2664 . I would recommend you try v6.0.0-alpha.11.

[2016-11-15 00:53] jianyunt commented on #236
Readme is updated.

[2016-11-15 00:53] #236 closed

[2016-11-15 00:56] jianyunt commented on #221
Fixed and published in PackageManagement 1.1.1.0.

[2016-11-15 00:56] #221 closed

[2016-11-17 14:05] nschley commented on #236
@jianyunt - I tried putting an emoji on your entries, but they're not showing up.  Thanks!

[2016-11-18 08:16] HemantMahawar opened #244 "PowerShell meta provider initialization failed"
_From @jgraafstra on November 9, 2016 19:1_

**Steps to reproduce**
upgraded from v6.0.0-alpha.11 to v6.0.0-alpha.12
Get-PackageProvider -ListAvailable -Debug -Verbose

**Expected behavior**
Should return list of available packages

**Actual behavior**
returns: VERBOSE: PowerShell meta provider initialization failed.

**Environment data**
----------------
Name                           Value
----

[2016-11-18 08:16] HemantMahawar commented on #244
_From @iSazonov on November 10, 2016 8:32_

I can't reproduce.
@jgraafstra could you provide more details?

[2016-11-18 08:16] HemantMahawar commented on #244
_From @jgraafstra on November 11, 2016 3:46_

OS is: OS X 10.11.6 (El Capitan)

I was trying to pull down a new MySql package and was having an issue with it working. Something seemed off with the package manager. So, I ran `Get-Package` and noticed that there were no package providers / packages:

`Get-Package : Unable to find package providers ().
At line:1 char:1
+ Get-Package
+ ~~~~~~~~~~~

[2016-11-18 08:16] HemantMahawar commented on #244
_From @SteveL-MSFT on November 15, 2016 20:38_

@jgraafstra can you open an issue here: https://github.com/OneGet/oneget/issues

[2016-11-18 08:16] HemantMahawar commented on #244
_From @zxczxcs on November 15, 2016 21:9_

Note: this behavior is also seen immediately on 12 when deploying PS on a default installation of CentOS 7 (tried both Minimal and DVD). 12 DOES work, however, on Ubuntu.

[2016-11-22 23:40] gfilicetti commented on #239
I'm also running into trouble with alpha12 as I need to get the Azure modules installed.

[2016-11-24 17:53] obensha commented on #166
I managed to get it done with Chocolatey as defined in http://stackoverflow.com/questions/12884282/use-nuget-powershell-commandlets-from-outside-visual-studio so thought to drop this reference here

[2016-11-27 16:11] jgraafstra commented on #244
I just download 6.0.13 and the problem appears to be solved.

Running Get-PackageProvider -ListAvailable returns a list of packages and no errors. I then ran install-package and was able to download the MySQL package without issues.

I'd say close this bug out.

[2016-11-29 00:54] OzBob commented on #166
@obensha could you explain "get it done"? Did you find a work around that lets you browse and install modules, or did you find a way to fix the 'anycup.exe' error? Thanks.

[2016-11-30 00:17] CodeCyclone commented on #174
@vercellone and @jianyunt I confirmed the steps @vercellone provided worked on a WMF 5.1 environment. I noticed the -Credential argument only exists in WMF 5.1 or later. Thanks for you help on this. I believe this issue can be marked as closed unless others disagree.

[2016-11-30 18:01] jianyunt commented on #174
thanks!

[2016-11-30 18:01] #174 closed

[2016-11-30 18:03] jianyunt commented on #244
Yes. v6.0.0-alpha.12 broke OneGet. But it should work on 6.0.13. thanks!

[2016-11-30 18:03] #244 closed

[2016-11-30 18:07] jianyunt commented on #239
OneGet should work on powershell  v6.0.0-alpha.13.
There is a known issue: proxy is broke due to the underlie .net CoreCLR issue. If you are not using proxy server, you can use OneGet on alpha.13.

[2016-12-01 09:49] happysysadm commented on #171
I have the same issue on a vanilla windows 2016 version 1607 build 14393.447.
I am behind a corporate proxy and I get:

`Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force -Verbose -proxy proxy.corp.com:8080 -Credential $cred`

VERBOSE: Finding the package 'Bootstrap::FindPackage' 'NuGet','','2.8.5.201','''.
WARNING: Unable to download from URI 'https://go.microsoft.com/fwlink/?L

[2016-12-01 17:59] jianyunt commented on #171
NuGet 2.8.5.201  does not support proxy. Please try

Install-PackageProvider -Name NuGet -force -verbose

This cmdlet should pull down the latest nuget provider.

To be sure you are using the latest (2.8.5.206 or later), delete nuget folder under these folder and run the install-packageprovider -name nuget -force  cmdlet.  Relaunch powershell.

$env:ProgramFiles\PackageManagement\ProviderAssemblie

[2016-12-05 12:09] happysysadm commented on #171
Hello @jianyunt
I did as you asked, but I get the same error as above:

Install-PackageProvider -name nuget -force -verbose
WARNING: MSG:UnableToDownload «https://go.microsoft.com/fwlink/?LinkID=627338&clcid=0x409» «»
VERBOSE: Cannot download link 'https://go.microsoft.com/fwlink/?LinkID=627338&clcid=0x409', retrying for '2' more
times.
VERBOSE: Cannot download link 'https://go.microsoft.com/fwlin

[2016-12-06 01:52] jianyunt commented on #241
@lazywinadmin, please find the [write oneget provider guidelines](https://github.com/OneGet/oneget/blob/master/docs/writepowershellbasedprovider.md). I hope it helps.

[2016-12-06 01:52] jianyunt commented on #203
@KirkMunro, please find the [write oneget provider guidelines](https://github.com/OneGet/oneget/blob/master/docs/writepowershellbasedprovider.md). I hope it helps.

[2016-12-08 20:07] lazywinadmin commented on #241
Thanks @jianyunt ! This looks great! I will go through it. Closing this Issue and will let you know if I encounter any problem.

[2016-12-08 20:07] #241 closed

[2016-12-09 16:49] mason-mcglothlin commented on #6
Any new update on this? One-Get has been out for a while now and it's very surprising this never got prioritized high enough to make it happen.

[2016-12-14 01:12] asdf1nit commented on #166
Same problem here. I have a question for commenters. Do all of you have visual studio installed? packages work fine for me there(VS), but I'm wondering if this is a conflict. I've noticed the people who have this working don't have Visual studio.

[2016-12-26 18:42] keithga opened #250 "New-SoftwareIdentityFromXml lacks documentation and examples"
I tried creating calling the command manually:

`New-SoftwareIdentityFromXml -xmlSwidtag '<foo><Version>0.1</Version><Name>MyPackage</Name><Source>c:\foo</Source><VersionScheme>MultiPartNumeric</VersionScheme><Summary>Add the summary of your package provider here</Summary><FastPackageReference>FPR</FastPackageReference></Foo>' -commitImmediately $true`

and it returned an empty object.

[2017-01-12 13:31] mrweiland opened #252 "Nuget - Save-Package : Unable to save the package"
I run this command (below) on our nuget server and some of the packages is failing and i cannot understand why...

[code]

Must be something strange when saving packages in code??

[2017-01-12 15:49] dermeister0 commented on #183
The same issue for me on clean Windows Server 2016 virtual machine.

[2017-01-12 22:08] brywang-msft opened #253 "Fix Failing Unit Tests, Add Integration Tests and update to HQRM"
_From @PlagueHO on September 25, 2016 20:13_

We're wanting to use this module in configs, but at the moment the unit tests are failing and so this would introduce too much risk for us if used in the current state.

After looking through the code it looks like this module could use some TLC to bring it up to current standards and reduce the tech debt.

I'll look at reworking this resource to meet

[2017-01-12 22:09] brywang-msft commented on #253
_From @jianyunt on September 29, 2016 20:21_

Testing failures are caused by NuGet provider regression bug which fails to find-packages from local share.

[2017-01-12 22:09] brywang-msft commented on #253
_From @kwirkykat on October 25, 2016 17:38_

@PlagueHO This module actually isn't currently part of the DSC Resource Kit (though I would be willing to add it). I think the PowerShell Get/Gallery sister team has ownership over this repository.

The improvements suggested here would be invaluable regardless of whether it's in the res kit or not.

[2017-01-12 22:09] brywang-msft commented on #253
_From @PlagueHO on October 25, 2016 18:37_

@kwirkykat - Oh right!  I had no idea. I guess that explains why it doesn't meet the naming conventions.

TBH our teams use this module extensively. However we do have a guideline that we don't use resources outside the reskit or the Powershell.org ones due to the risk that comes with not having good test coverage or support.

What are the chances of bri

[2017-01-12 22:09] brywang-msft commented on #253
_From @jianyunt on October 27, 2016 19:59_

how about bring it into windows inbox as a part of PackageManagement(OneGet), what do you think?

[2017-01-12 22:09] brywang-msft commented on #253
_From @PlagueHO on October 28, 2016 6:53_

@jianyunt - I'm definitely OK with it being under PS PackageManagement. My main goal is to make sure there is adequate unit and integration test coverage to control risk. So, whatever is the best plan to enable that. As I said, I'm always happy to commit code if it helps (especially tests :grin:)

[2017-01-12 22:09] brywang-msft commented on #253
_From @jianyunt on October 28, 2016 16:25_

@PlagueHO, we absolutely appreciate contributions from the Community.
BTW, I am fixing these tests in WIP branch. Will PR to master today.

[2017-01-12 22:09] brywang-msft commented on #253
_From @PlagueHO on October 28, 2016 19:28_

@jianyunt - Awesome! I know the HQRM guidelines the DSC team have created don't apply to this resource module, but they do result reducing risk using a DSC resource. If I were to work on changes to bring this module up to HQRM quality standards at some point, is this something that your team would be interested in?

This wouldn't be for a while yet as I

[2017-01-12 22:09] brywang-msft commented on #253
_From @jianyunt on October 28, 2016 19:41_

@PlagueHO, you are welcome to make the module higher quality. Feel free to send us your PR.  thank you!

[2017-01-12 22:10] brywang-msft opened #254 "NugetPackage Warning message incorrect"
_From @PlagueHO on September 25, 2016 20:1_

See:
https://github.com/PowerShell/PackageManagementProviderResource/blob/master/DSCResources/MSFT_NugetPackage/MSFT_NugetPackage.psm1#L414

The order of the parameters are incorrect so a message like this can be recevied:
You are installing the module 'Git-Trusted-Certificates' from an untrusted repository 'Trusted'. Your current InstallationPolicy is

[2017-01-12 22:11] brywang-msft opened #255 "Add an Environment Variable 'refresh' before installing package"
_From @gaelcolas on July 20, 2016 14:34_

Some packages, like RabbitMQ in the Chocolatey Repo, can have their installation customized based on Environment Variables (questionable but common method in *nix environment, and ported applications).

When using DSC and setting variables via the Environment resource (which, btw does not support [EnvironmentVariableTarget]), you'd need to restart before b

[2017-01-12 22:11] brywang-msft commented on #255
_From @gaelcolas on July 25, 2016 15:56_

By the way, the core functionality should probably be provided by PackageManagement module (as in, not the DSC resource), or the Chocolatey provider.
I believe this behaviour has been fixed in Chocolatey v9.10 (issue 664), but I believe we're still waiting for the full re-work of the Chocolatey provider.

[2017-01-12 22:11] brywang-msft commented on #255
_From @jianyunt on July 25, 2016 16:40_

@gaelcolas.  We welcome contributions from the community, i.e., accept PR.
You are right. We do not have OneGet-Chocolatey provider yet.

[2017-01-12 22:11] brywang-msft commented on #255
_From @gaelcolas on August 26, 2016 15:59_

I talked with @grayzu about this, and I'm not sure about how to implement such refresh in the LCM, but would be happy to submit a PR if given a bit guidance.

[2017-01-12 22:11] brywang-msft opened #256 "PSModule resource attempts to connect to an external resource even when a local repository is specified."
_From @rdean716 on May 12, 2016 19:35_

The resource below produces the following verbose output when a configuration is applied:

[DSCTEST]: LCM:  [ Start  Resource ]  [[PSModule]Tooling]
[DSCTEST]: LCM:  [ Start  Test     ]  [[PSModule]Tooling]
[DSCTEST]:                            [[PSModule]Tooling] Begin invoking get-module 'tooling'
[DSCTEST]:                            [[PSModule]Tooling] M

[2017-01-12 22:11] brywang-msft commented on #256
_From @jianyunt on May 12, 2016 19:54_

Bob, thanks for reporting it.

Based on the log, it looks like the PowerShellGet (PSModule) provider is asking OneGet to bootstrap the NuGet provider. PowerShellGet uses the NuGet provider for downloading packages. That's why it reach out to external.  Likely you may not have  the NuGet provider installed on your machine.
To avoid that, you can download the

[2017-01-12 22:11] brywang-msft opened #257 "PSModule resource does not support installing side-by-side versioned modules"
_From @rdean716 on May 11, 2016 19:57_

Because the the Name parameter is Key, the PSModule resource cannot be used to download two versions of the same module.  It would be nice if the Key parameter could also accept the module specification format for scenarios when more than one version of a module is required for a node.

Consider the following.

[code]

The resulting error:

[code]

Thanks fo

[2017-01-12 22:12] brywang-msft opened #258 "Similar in function to another DSC resource"
_From @JasonMorgan on April 5, 2016 22:27_

I've got a repo here: https://github.com/PowerShellOrg/NuGet that does a lot of similar work.  Any way we can merge these repos together?  I'd be happy to stop maintaining my repo if you could bring in the functionality/classes here.

_Copied from original issue: PowerShell/PackageManagementProviderResource#9_

[2017-01-12 22:12] brywang-msft commented on #258
_From @jianyunt on April 6, 2016 17:9_

@JasonMorgan, Thanks for your feedback.
It's in my backlog to update this project. We may add a generic resource for all the providers.

[2017-01-12 22:12] brywang-msft commented on #258
_From @JasonMorgan on April 6, 2016 18:23_

I think you may have meant this response to a different issue.  I opened mine because I have a module that is similar in function to what your module provides.

[2017-01-12 22:12] brywang-msft commented on #258
_From @jianyunt on July 20, 2016 17:28_

@JasonMorgan,  I do see some similarity btw these two repo. I think it's good idea to merge. would you mind to do that? We welcome and appreciate contributions from the community. Thanks!

[2017-01-12 22:12] brywang-msft opened #259 "Chocolatey Package & Source Resources"
_From @kilasuit on February 9, 2016 4:31_

I wondered if it would be beneficial to add in DSC resources for Choclatey.

I've been working on them this weekend and if seen as beneficial then I would be happy to submit a PR for it to merge into this repo.

However from my basic testing it seems that package installation works with no issue however I have yet to confirm that package un-installation w

[2017-01-12 22:12] brywang-msft commented on #259
_From @jianyunt on July 20, 2016 17:31_

@kilasuit

@KrishnaV-MSFT just added a generic DSC resource, which supports "all" providers. The existing OneGet Chocolatey provider is a prototype version. It may not work under various cases.

[2017-01-12 22:13] brywang-msft opened #260 "Class resource?"
_From @davidobrien1985 on September 24, 2015 22:26_

Hi,

any plans on porting that over to a class based resource?
I have already started doing one here: https://github.com/davidobrien1985/DscResources/tree/master/PowerShellModule

Obviously don't want to spend more time on it if you are already doing it.

Cheers
David

_Copied from original issue: PowerShell/PackageManagementProviderResource#7_

[2017-01-12 22:13] brywang-msft commented on #260
_From @jianyunt on July 20, 2016 17:34_

@davidobrien1985 we currently have no plan to convert them. But we welcome and appreciate contributions from the community. Feel free for PR if your modules are ready.

[2017-01-12 22:13] brywang-msft opened #261 "How to write a Nuget like provider?"
_From @dfinke on May 6, 2015 0:3_

I've written a few providers for OneGet. I'm guessing I'd need to follow the Nuget DSC Resource approach to create a DSC Resource for mine?

Thank you

_Copied from original issue: PowerShell/PackageManagementProviderResource#2_

[2017-01-12 22:13] brywang-msft commented on #261
_From @KrishnaV-MSFT on July 6, 2016 22:11_

@dfinke is it possible to look at the new generic PackageManagement DSC resource. This will enable using the PackageManagement stuff without writing a new DSC resource (in most cases). I would like to know if this works for you.

[2017-01-12 22:13] brywang-msft commented on #261
_From @dfinke on July 6, 2016 22:16_

Let me see what I can do

[2017-01-12 22:13] brywang-msft opened #262 "Resources are not supposed to have Resource in the module name"
_From @TravisEz13 on May 4, 2015 17:57_

_Copied from original issue: PowerShell/PackageManagementProviderResource#1_

[2017-01-12 22:13] brywang-msft commented on #262
_From @jianyunt on August 10, 2015 19:22_

Thanks Travis. Do you have a better name for this project?

[2017-01-12 22:13] brywang-msft commented on #262
_From @mgreenegit on December 12, 2015 15:9_

PackageManagement

[2017-01-12 22:13] brywang-msft commented on #262
_From @jianyunt on December 22, 2015 2:16_

This name is already taken.  PackageManagement (a.k.a OneGet)  is the package manager's aggregator, it's a Windows inbox component and upgrade-able from PowerShellgallery.com. it deals with package discovery and installation etc.
Here we are dealing with the package provider's DSC resources. So PackageManagement may not be a good name either.

[2017-01-12 22:13] brywang-msft commented on #262
_From @gaelcolas on August 26, 2016 16:15_

Just to add an update here, the naming convention is discussed here: https://github.com/PowerShell/PowerShell-RFC/issues/10 and the DSC community calls seems to be leaning towards _ModuleName_Dsc

That would give, IMO, PackageManagementDsc
At least when converted to an HQRM resource.

[2017-01-12 22:13] brywang-msft commented on #262
_From @PlagueHO on November 15, 2016 3:39_

My team has been attempting to use this resource and have run into a few bugs that we are fixing. So we are planning on fixing this as well as making the changes to bring it up to HQRM. So once that is done it might be worth renaming this resource at that point.

[2017-01-12 22:13] brywang-msft commented on #262
_From @jianyunt on November 15, 2016 17:56_

Can you please send Pull Request for a few bugs you are fixing so that we can integrate them?
Also we are considering merge this module to the [PackageManagement](https://oneget.org), therefore won't have naming problem.

[2017-01-12 22:13] brywang-msft commented on #262
_From @PlagueHO on November 16, 2016 5:25_

Hi @jianyunt - sure thing. I'll get the fixes up to you guys once we figure out a solution - the main problem we have is that registering a package source using DSC registers under the Local System account (I think) rather than for a specific user. This might be a case of running the LCM under a different context (using PSDscRunAsCredential), but that is

[2017-01-13 18:25] brywang-msft opened #263 "Get DSC resource tests working for Core CLR"
Currently Core CLR tests are disabled for DSC resources. There are a couple of outstanding issues:

Powershell Core package seems to be missing some assemblies required for DSC on Windows. One possible solution might be using nuget package "appveyor-psl-windows-build":
PS:34> nuget list -Source appveyor-psl-windows-build -Prerelease
Using credentials from config. UserName: xvors.x@gmail.com
Micros

[2017-01-13 19:09] brywang-msft commented on #145
Merge done in WIP branch. This will also be the case in the next major Windows release.

[2017-01-13 21:52] JohnWintellect opened #264 "Publish-Module failure "Publish-PSArtifactUtility : The property 'Count' cannot be found on this object.""
Trying to publish my module and on multiple machines, with multiple PowerShellGet versions. The same error occurs with PowerShellGet 1.0.0.1 and 1.1.20 (which I force installed to see if that fixed it)

Here's the error:
[code]

[2017-01-17 18:42] jianyunt commented on #263
Waiting for DSC on CoreCLR.

[2017-01-17 18:45] jianyunt commented on #262
Now we merged PackageManagementProviderResource to PackageManagement module.

[2017-01-17 18:45] #262 closed

[2017-01-17 18:53] #253 closed

[2017-01-17 18:53] #206 closed

[2017-01-17 18:56] jianyunt commented on #261
For how to write onege provide, see https://github.com/OneGet/oneget/blob/master/docs/writepowershellbasedprovider.md

The PackageManagement DSC resource is generic so individual provider does not need to their own provider DSC now.

[2017-01-17 18:56] #261 closed

[2017-01-17 18:58] jianyunt commented on #259
The PackageManagement DSC resource is generic so individual provider does not need to their own provider DSC resource now.

[2017-01-17 18:58] #259 closed

[2017-01-17 18:59] jianyunt commented on #258
Merged now.

[2017-01-17 18:59] #258 closed

[2017-01-17 20:03] bmanikm commented on #264
@JohnWintellect Could you please create [an issue in PowerShellGet repo](https://github.com/PowerShell/PowerShellGet/issues/new) with the repro steps?

How were you able to publish your module's earlier [version 3.3.2.0](https://www.powershellgallery.com/packages/WintellectPowerShell/3.3.2.0) ?

[2017-01-17 20:37] JohnWintellect commented on #264
Hi @bmanikm. Thanks! I'll move my issue over to PowerShellGet. I'm trying to publish an updated module, 4.0.0.0, and that's where I'm hitting the problem. Thanks for the pointer.

[2017-01-17 20:37] #264 closed

[2017-01-18 22:29] godefroi opened #266 "Publish-PSArtifactUtility fails without useful feedback"
I am attempting to publish a module using the publish-module cmdlet, and it is failing for unknown reasons. Below is included verbose output. If I include debug output, I can see the a long list of DSC resources are loaded immediately before it fails.

The original version of OneGet (1.0.0.1) fails, and updating to the latest release on the PS gallery (1.1.2.0) fails as well.

[code]

[2017-01-18 22:43] bmanikm commented on #266
@godefroi Please create [an issue in PowerShellGet repo](https://github.com/PowerShell/PowerShellGet/issues/new) with the repro steps?

Also provide the debug output and the version of NuGet.exe along with other details to repro it consistently.

[2017-01-18 22:43] #266 closed

[2017-01-19 16:06] godefroi commented on #266
Will do, thanks!

[2017-01-21 12:13] rs38 commented on #6
:up:

[2017-01-26 19:22] dbatchelor commented on #166
I found a solution to this, thought I'd share:

(I'm on Windows 10, and not using Visual Studio ... although I may have had it at one point or have some remnants from .net projects in the past.)

Anyways, I was editing the profile "Microsoft.PowerShellISE_profile.ps1 " and noticed this line:

`Add-Type -Path 'C:\Program Files (x86)\Microsoft Module Browser\ModuleBrowser.dll'`

The module browser w

[2017-01-27 13:38] gudenuff commented on #166
@dbatchelor

Finally you've got it nailed! Thanks a bunch!

_To enable Module Browser for the 64-bit version of PowerShell ISE:

1.  In Windows Explorer, open

[code]
2. Open PS file for edit, then add the following lines after the commentary header

[code]
3. Save changes and start the 64-bit PowerShell ISE.

Whole profile script:
[code]

So finally, it works in a 64-bit ISE.

Now there's an issu

[2017-02-01 05:50] mithunphilip1984 commented on #171
Hi Happysysadmin, Did you find any solution for this? I am getting the same error

[2017-02-01 06:18] jianyunt commented on #171
I think you need to provide proxy uri and credential.
see syntax: https://msdn.microsoft.com/en-us/powershell/reference/5.1/powershellget/install-module

also  see https://github.com/OneGet/oneget/wiki/Q-and-A in
"Sample usage with proxy"

However to use the above feature, you need WMF 5.1, or Windows Server 2016, or the PowerShellGet and PackageManagement modules in the PowerShellGallery.com shou

[2017-02-06 04:06] OzBob commented on #166
Combing @dbatchelor  and @gudenuff .  "what could go wrong?" well.... 1. My Path doesn't match on your first 'if'
C:\WINDOWS\system32\WindowsPowerShell\v1.0\Modules\ is in my $env:PSModulePath, note the v1.0!

So others **beware** of using the script.    May as well hand code it.

Do you have "C:\Program Files\WindowsPowerShell\Modules\ISEModuleBrowserAddon" on your system?

Then edit the "#Module

[2017-02-12 21:03] beatcracker commented on #172
My 2¢.

* PowerShell version:

[code]

* Providers versions:

[code]
* Installing package using `v3` API doesn't work:

[code]

* Installing package using `v2` API works:

[code]

[2017-02-13 05:00] jianyunt commented on #172
Correct. The NuGet provider only supports V2.

[2017-02-20 22:06] tomachristian opened #269 "AppxGet: Provider for AppX packages"
I implemented a really basic/small provider for AppX packages, I thought you guys might want to take a look and give me some suggestions/directions.
It can be found under [tomachristian/AppxGet](https://github.com/tomachristian/AppxGet).

[2017-02-22 13:30] dotps1 commented on #209
I am experiencing the same type of issue using SonaType Nexus OSS on site and disabling Anonymous access to our PowerShell NuGet feed.  I have submitted a PR (#93 i think) to the PowerShellGet repo, that begins to help with that point, but it seems that once it gets to the `PackageManagement\Find-Package @PSBoundParameters` call it fails.

[2017-02-22 13:57] dotps1 opened #270 "NuGet.exe finds packages that PackageManagment\Find-Package does not"
Here is the configuration:
I have [SonaType Nexus OSS](https://www.sonatype.com/nexus-repository-oss) hosting my NuGet feed for PowerShell Modules and Scripts.  The Anonymous user only has read rights to root of the nuget repo, this was configured to allow publishing via NuGet and prevent the prompting of credentials which stops PowerShellGet\Publish-Module from working ([LINK](https://support.son

[2017-02-22 18:45] jianyunt commented on #209
@dotps1, It's been a while since your PR (#93). Do you know if it is merged? If not, do you mind send us your PR again?

[2017-02-22 18:48] dotps1 commented on #209
my PR [93](https://github.com/PowerShell/PowerShellGet/pull/93) is for PowerShellGet, sorry for the confustion

[2017-02-22 19:04] jianyunt commented on #270
@dotps1 I noticed that you opened an issue here and send PR to PowerShellGet.  If your PR is merged to PowerShellGet, this issue will be fixed?

[2017-02-22 19:10] dotps1 commented on #270
No, i do not believe it will.  Hence the last bit of my opening post:

It doesn't seem to matter or not if i am passing a credential object to Find-Module or not, it does not return both modules, only 1.

[2017-02-23 18:28] jianyunt commented on #270
Is your repository based on NuGet V3?  PackageManagement including PSGet currently supports V2 only. For example, find-package Jquery -providerName nuget -source http://www.nuget.org/api/v2.

[2017-02-23 18:57] dotps1 commented on #270
to be honest, im not sure how to tell.  This is an internal system running SonaType Nexus OSS.  There is a link to the product page in the original post.  I have been looking around the nexus docs, but I don't see anything about the NuGet version.

[2017-02-25 02:52] pandanautinspace opened #271 "PackageManagement not installing some packages"
## Hi!
For some reason PackageManagement has simply stopped installing packages for me. It kind of acts like it does, but seems to not show the downloading animation, or the step by step installing process.  Instead, it goes through some kind of process, shows the details of the package, and then simply acts like the package is installed.

When installing cmake, it got all the way to starting the

[2017-02-27 20:52] dotps1 commented on #270
So, if it is version 3, which i still don't know for sure.  When will package mgmt support v3?  i see the the v4 nuget.exe is already available for testing.

[2017-02-28 19:14] brywang-msft opened #272 "Install-PackageProvider on WMF 4 with latest PSGet and PackageManagement fails"
## Description
Install-PackageProvider fails to install a given package provider when on a downlevel OS with WMF 4, latest PSGet from gallery, and latest PackageManagement.

## Repro
### Preconditions
1. Windows Server 2012 OR Windows Server 2008 R2
2. WMF 4.0 installed
3. PSGet downloaded and installed via PowerShellGallery.com
4. PackageManagement downloaded and installed via PowerShelLGallery.c

[2017-02-28 19:14] brywang-msft commented on #272
Looking into root cause for 1.1.3.0 release

[2017-02-28 23:30] brywang-msft commented on #272
Determined it's an issue with Test-ModuleManifest in PS 4.0. Closing as won't fix, as there's no fix in PackageManagement or PowerShellGet, and PS 4.0 isn't supported anymore.

[2017-02-28 23:30] #272 closed

[2017-03-02 15:57] breasor commented on #271
Same thing happening to me. Running install-package -name firefox -debug yields the following:

VERBOSE: Exception : DefaultDomain//CmdletInvocationException/The term 'Get-WebContent' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.

[2017-03-02 16:06] breasor commented on #271
also some packages I have downloaded are corrupt (filezilla, winscp.install)

[2017-03-09 21:13] brywang-msft commented on #270
Hey, sorry for the late reply. I couldn't find an "official" way of getting the version of your nuget.exe, but you can always right-click -> properties -> details -> file version. I'll create the work item to test support for higher nuget.exe versions, but I can't guarantee its priority.

I'll try to get a repro of this issue so I can investigate more next week most likely. If you think of any inf

[2017-03-09 21:17] brywang-msft commented on #269
Thanks @tomachristian ! Awesome to see more providers. I'll check with some colleagues to see what we can do about adding community-created providers to our readme to give you maximum exposure. Heads-up, if I can get this through, we might have some minimum requirements, but I'm not sure yet so I don't want to say anything concrete.

I'll take a look myself in my free time and see if I can eventua

[2017-03-09 21:20] brywang-msft commented on #252
I'll take a look when I get a chance, but is there any inner exception data you can provide? Can you also please provide PSGet, PackageManagement, and NuGet.exe versions? Possibly also NuGetProvider version, if you can get it?

[2017-03-09 21:49] tomachristian commented on #269
Thanks @brywang-msft! That's exactly why I brought this up, I want the provider to adhere to those minimum requirements/standard. Let me know.

[2017-03-09 22:13] brywang-msft commented on #271
@pandanautinspace or @breasor - can you provide OS/PSGet/PackageManagement/PSVersion version info please? In the meantime I'll try to repro.

[2017-03-09 23:22] brywang-msft commented on #271
Assuming @breasor 's issue is also from the chocolatey feed + chocolatey provider (since I think Get-WebContent is a chocolatey-core.extension cmdlet), I need to ask some people about chocolatey provider support. Hopefully I can get a good answer where we can transition the provider to official support.

I wasn't able to repro either issue - if either of you can give me more info to help me get a

[2017-03-10 16:59] breasor commented on #271
OS: Windows 10 Enterprise
PSVersion: 5.1.14393.693

[2017-03-12 01:44] pandanautinspace commented on #271
I was incorrect in saying stopped working, it seems that some packages do install and some don't. For example installing git with the chocolatey provider left a git install application in C:/Chocolatey/lib/Git.../tools, which I used to actually install git.

Chocolatey/bin now has node and git in it,two things I was trying to install but ended up installing seperately. I tried installing wget, it

[2017-03-13 12:00] dotps1 commented on #270
thanks for looking into this.  the version i have in $env:AppData\Microsoft\Windows\PowerShell\PowerShellGet is 2.8.60717.93.

And the only other difference is im not running it in docker.  but i don't think that should matter.

Thanks!

[2017-03-15 14:20] artisticcheese opened #273 "Uninstall-Package for "Programs" provider is not working"
Not sure what I'm doing wrong but when I execute following cmdlet it does not show any errors but package is not being uninstalled either, despite the fact that there is no errors and verbose confirmation of uninstallation. Running it second time proves that package is still there.

[code]

[2017-03-16 21:43] pburkholder commented on #195
Problem:
 1. PackageManagement 1.0.0.1 doesn't handle FIPS
 2. You can't use `Install-Module` to upgrade because of 1.

Solution:
 - We'll fetch the module as a .nupkg directly
 - We'll download `nuget.exe`
 - We install the module with nuget into local modules

[code]

Open a new powershell and test with

[code]

[2017-03-24 13:36] mjyeaney opened #274 "Conflict between VS2015 NuGet and PowerShell NuGet provider"
VS Environment:
[code]

Powershell Environment:
[code]

Powershell Package Providers:
[code]

Package Source Locations:
[code]

Given the above configuration, VS2015 is able to browse NuGet packages without issue. PowerShell, however, is unable to search the NuGet repositories due to incorrect location URL (api v3). This results in the following HTTP trace when executing `Find-Package` from a Powe

[2017-03-28 18:49] cciolli commented on #166
@gudenuff
So I modified the ...profile.ps1 as suggested.
Everything seems to be good with the world...until I open a File > New Powershell Tab (Ctrl+T).
Powershell proceeds to tell me that it has loaded the 32-bit version of Module Browser.

After a little detective work I find that as Powershell starts, $env:PSModulePath does not have a trailing backslash on any of the path entries.
After it star

[2017-03-30 18:12] rdean716 commented on #179
Just recently we've noticed that this issue has resurfaced on Windows 2012 R2 with WMF5.1 installed.  Would you prefer that I create a new issue for the behavior in question?  Although it is exactly this problem again.

[2017-04-04 15:11] tbrettallen commented on #274
Does OneGet have any intention of supporting NuGet API v3?

[2017-04-06 17:11] daviwil opened #275 "Loading PackageManagement module into session causes 10x slowdown in command completion"
Hey team,

Just filing this issue here to track it while we investigate.  I fully intend to help get this issue fixed when I have a few free moments :)

This issue appears in any PowerShell host.  Start up powershell.exe, PowerShell ISE, or PowerShell extension for VS Code and try getting IntelliSense for `Get-`, comes back instantly.  Now, import the PackageManagement module and try to get Intell

[2017-04-06 21:45] fspafford opened #276 "Can't remove Windows Management Framework 5.0 Production Preview on Windows 7"
I get the error below in the event log. Does anyone have a solution?

Log Name:      Setup
Source:        Microsoft-Windows-WUSA
Date:          4/6/2017 3:38:44 PM
Event ID:      8
Task Category: None
Level:         Error
Keywords:
User:          HQ\franks
Computer:      MB-SWENG-06...
Description:
Windows update "Windows Management Framework 5.0 Production Preview (KB3066439)" could not be uninst

[2017-04-17 16:44] Damperen commented on #166
@OzBob
This worked for me, however you missed the parenthesis ')' after $true
On the following line
`$moduleBrowser = $psISE.CurrentPowerShellTab.VerticalAddOnTools.Add('Module Browser', [ModuleBrowser.Views.MainView], $true`

[2017-04-20 21:58] BenAffleckIsBatman opened #277 "Issue with some choco packages eg. Cmder"
Hi all,

anyone able to install **cmder** from choco provider using "Install-Package cmder -force" ?
This one tells me:
Install-Package : Unable to create specified folder '«0»'. «» «Path cannot be the empty string or all whitespace.»

Debug tells me this happens in ProviderService::CreateFolder

I am confused by all the choco providers & prototypes out there, that's why I'm directly raising the q

[2017-04-28 18:02] brywang-msft opened #278 "Install-PackageProvider doesn't work on Windows Server Core 10.0.14393.1066"
Reported by Mark Gray. Seems to work on 10.0.14393.953. Error mentions not being able to find NuGet.

[2017-04-28 19:59] grayzu commented on #278
Adding Docker file where issue was discovered.
[dockerfile.zip](https://github.com/OneGet/oneget/files/965406/dockerfile.zip)

[2017-05-02 09:21] VahidN opened #279 "Unable to find dependent package(s) (CoreCompat.System.Drawing)"
I'm trying to install [iTextSharp.LGPLv2.Core](https://www.nuget.org/packages/iTextSharp.LGPLv2.Core/) package using PowerShell with the following command:
[code]
But it can't find its dependent library
[code]
The dependent package is [CoreCompat.System.Drawing](https://www.nuget.org/packages/CoreCompat.System.Drawing/).

## My Environment
[code]

[2017-05-04 07:49] stakx opened #281 "Build bootstrap script does not work on Windows"
Attempting to build OneGet [according to `readme.md`](https://github.com/OneGet/oneget#building-the-code), but the process fails at `bootstrap.ps1`:

The fix would seem rather easy: spell out `-v` as `-Version`.

[2017-05-08 14:30] kitforbes opened #283 "Unattended Installation of PackageProviders"
Is it possible to run an unattended installation of package providers? I'd like to use OneGet as part of a Packer build of Windows images.

When I try to install ChocolateyGet as part of a script with
[code]
it prompts for user input. Adding `-ForceBootstrap` or `-Force` (Which I assumed would get around this) did nothing, so not sure what they are for. Add `-Confirm` gets me passed the first prom

[2017-05-17 09:00] gaelcolas commented on #283
The main reason is that the Install-PackageProvider is trying to Install a package from an untrusted provider, so it asks you first (it does not seem to pass the $PSBoundParameters to Install-Module/Package).

You can bypass manually by first calling the `Install-module`, then the `Install-PackageProvider`.
[code]

[2017-05-17 10:01] gaelcolas commented on #277
The short story (as I understand it) is that the original Chocolatey provider was only an [open prototype](https://github.com/chocolatey/chocolatey-oneget) independent from the Chocolatey.exe (the real tool) created a while ago.
In the meantime, Chocolatey.exe evolved, and added more features to simplify Packages.
As the Chocolatey Provider (aka. ChocolateyPrototype.exe) did not get updated along,

[2017-05-17 10:45] gaelcolas commented on #271
That sounds related to this: https://github.com/OneGet/oneget/issues/277#issuecomment-302044901

Using the current Chocolatey Provider is unreliable (less and less packages will work with), using the ChocolateyGet is probably a better option.

[2017-05-17 14:42] gaelcolas commented on #171
@jianyunt and @happysysadm: I did test this, and it works behind a proxy, but there's further complications.
First of all, sometimes that address `https://go.microsoft.com/fwlink/?LinkID=627338&clcid=0x409` is in a blocked category in the proxy by default, so it needs to be whitelisted.

Then, the current problem I have, is even if the swigtag gets resovled, it then tries to bootstrap and looks (a

[2017-05-17 14:55] gaelcolas commented on #171
Forgot to mention that pulling the Chocolatey package with Nuget from my local repo, renaming to `.zip`,  expanding the archive, executing the `ChocolateyInstall.ps1`, is not what I'd call an elegant solution. :)
Even if that should work...

[2017-05-17 16:19] kitforbes commented on #283
Thank you for the answer, @gaelcolas. Consuming PowerShell modules is new to me, so not sure of the best approaches yet.

This is also good to know. I was assuming that this would be self contained.  Having to install `chocolatey.exe` separately makes me wonder what the benefit of OneGet is, in this particular case.

You've solved my issue so I'll happily close this.

[2017-05-17 16:19] #283 closed

[2017-05-17 18:12] Plork commented on #171
This is your only option I think to bootstrapping nuget after Imaging.
https://github.com/OneGet/oneget/wiki/Q-and-A#how-do-i-install-a-package-provider-such-as-nuget-provider-if-i-do-not-have-internet-connection-on-my-box

For chocolatey I did pull the choco package to my local repo. Downloaded the install.ps1 ... changed the url to 7za.exe and chocolatey to my internal repo and during my Packer

[2017-05-17 18:28] jianyunt commented on #171
@gaelcolas and  @Plork,  what's Plork mentioned is the way I can think of for bootstrapping for machines without the Internet.

I suggest do not use ChocolateyProtypotype provider because it only works with some Chocolatey packages. Rob, a Chocolatey owner,  is working on OneGet-Chocolatey provider. Until then,  I recommend to use ChocolateyGet for the time being. You are right ChocolateyGet  depe

[2017-05-17 19:25] ferventcoder commented on #277
@gaelcolas a couple of small corrections but that is pretty much spot on:

* choco.exe (not chocolatey.exe, although there is a shim by that name)
* The prototype was not even fully featured when it was created:
   * Only One Source - it did not allow for making multiple sources, only the community repo (eliminating a large portion of the user base who use Chocolatey for organizational purposes).

[2017-05-17 19:27] ferventcoder commented on #271
tl;dr - what @gaelcolas mentioned, plus https://github.com/chocolatey/chocolatey-oneget/issues/5#issuecomment-275404099

[2017-05-17 19:50] sampSCS commented on #166
@gudenuff

For my installation, instead of:
`Add-Type -Path 'C:\Program Files\WindowsPowerShell\Modules\ISEModuleBrowserAddon\1.0.1.0\ISEModuleBrowserAddon.dll'`

I had to use:
`Add-Type -Path 'C:\Users\USERNAME\Documents\WindowsPowerShell\Modules\ISEModuleBrowserAddon\1.0.1.0\ISEModuleBrowserAddon.dll''`

before it worked for me

[2017-05-18 02:04] OzBob commented on #166
@gudenuff I think you may have installed WindowsPowerShell in a non-conventional manner, or may not be Admin on your PC??? but congratulations on solving it, it's annoying isn't it!

[2017-05-18 12:27] gaelcolas commented on #171
@jianyunt I'm afraid this is not a really good story for automating deployment, bearing in mind that the goal is to provision machines with DSC.
ChocolateyPrototype is used only to install Choco.exe from internal NuGet feed, before we can use ChocolateyGet.

To provision machine consistently whether or not they're on DMZ, Behind proxy, or without Internet access, we need to limit the number of Req

[2017-05-18 14:17] ferventcoder commented on #171
@gaelcolas let me recommend you use an internal script with cChocoInstaller pointing to a chocolatey.nupkg file that is gathered from an internal location. This is 100% reliable. https://chocolatey.org/install#completely-offline-install

[2017-05-18 14:31] ferventcoder commented on #171
@gaelcolas the ChocolateyPrototype was designed by Microsoft and was a non-fully functional prototype when it was designed and then features/security/bug fixes over the last 3 years would make me very wary of using it at all. If you can get it to work, great! However its use is not supported in any way by the Chocolatey team (because it was a prototype and didn't come from the Chocolatey team), so

[2017-05-18 18:23] aggieben opened #284 "Mistakenly removed PowerShellGet module, now can't use MWF cmdlets"
I mistakenly removed the `PowerShellGet` module while monkeying around with package management commands, and now I seem to be pretty stuck.  It appears that installing the PackageManagement modules from the PS Gallery requires already having the modules, and the standalone installers won't work for me because I'm on Windows 10.

How do I fix this?

[2017-05-18 18:39] gwojan commented on #284
Copy the modules from a working system and then update from the PowerShell Gallery. I had to do this because I had the old Windows 7 bits on a machine that was upgraded to Windows 10.

[2017-05-18 18:44] aggieben commented on #284
@gwojan copy from....$env:ProgramFiles/WindowsPowerShell/Modules?

[2017-05-18 18:48] aggieben commented on #284
Ok, that's what I did, and it seems to have resolved the issue.  Thanks!

[2017-05-18 18:48] #284 closed

[2017-05-22 14:28] leovic0101 opened #285 "Register-packagesource for Artifactory throws not valid for this provider"
Hi All,

I setup a Nuget repository for chocolatey in Artifactory. My goal is to use Artifactory as proxy to chocolatey.  However. registering the package source throws a validation error.  If I register the repository as a Nuget provider it is able to download the packages with no problem but does not install it the way chocolatey does.

I would greatly appreciate your assistance.

Below are the

[2017-05-22 16:05] gaelcolas opened #286 "Cannot Register PSGallery with -Proxy"
Hi.,

Using WMF5.1 on win2012r2, the following does not use the proxy, and silently fails (when PSGallery is not registered):

`Register-PackageSource -Name PSGallery -proxy http://proxy:8080`

When I setup the proxy in IE, the command above finally works.
Once the PSRepository added, and the IE proxy settings removed, the following command works:
`Find-Module Plaster -Proxy http://proxy:8080`

[2017-05-23 22:22] #281 closed

[2017-05-29 18:11] BenAffleckIsBatman commented on #277
@ferventcoder @gaelcolas Thank you guys! I switched to the ChocolateyGet Provider which is not perfect, but works with some tweaks. Unfortunately the ChocolateyGet Provider is not optimized for work behind proxy, but could be fixed easily. I've opened a issue.

For now a wrapped installation of Notepad, WinRAR & KeePass using ChocolateyGet within a PowerShell DSC configuration works.
Hope to see a

[2017-05-31 02:13] Deryklink opened #288 "Trouble installing chocolatey on windows 10"
This is what comes up when I try to install chocolatey through powershell. Im brand new to computer programming and i cant even get through what should be an easy installation process to even start learning lol. If anyone could help itd be much appreciated. This is what happens when I try to install......

PS C:\WINDOWS\system32> iex ((New-Object System.Net.WebClient).DownloadString('https://choco

[2017-06-01 08:15] gaelcolas commented on #288
Hi @Deryklink,

This is probably not the place for this question, as Chocolatey is an independent Package Manager (and not directly related to OneGet/PackageManagement).
In short:
- Chocolatey is a Package Manager provided by Chocolatey.org
- OneGet/PackageManagement is a Package **Manager Manager** (a layer on top)

The benefit of Package Management is to have a built-in, common experience across

[2017-06-06 21:56] tylerl0706 opened #289 "OneGet 1.1.4 module not working on WS2012 R2 - Cannot find an overload for "SoftwareIdentity" and the argument count: "17""
I'm receiving the following error when doing:

`Find-Module azure`

[code]

And just `Find-Module` gives me the "SoftwareIdentity" warning.

OneGet 1.1.4 is not working on WS2012 R2. But it works on WIn10 and Server 16

[2017-06-06 22:29] brywang-msft commented on #289
@bmanikm also mentioned 1.1.3 works in this setup, but I was unable to verify. Copying 1.1.3 into the PackageManagement folder results in the same error.

The problem is that the old assemblies (Microsoft.PackageManagement.dll, etc.) were not deleted. Hence, the old dll was loaded which uses a different contract than the newer PSGet. Properly cleaning the folder resolved the above issue.

Save-Mod

[2017-06-07 00:10] bmanikm commented on #289
@brywang-msft
- Is it possible to open a tracking issue for Save-Module error in PowerShellGet repo?
- Regarding load logic in https://www.powershellgallery.com/packages/PackageManagement/1.1.4.0/Content/PackageManagement.psm1, is it an option to load the dll under FullClr folder first then load from the module base?

@tylerl0706 Please enhance the instructions for copying the PowerShellGet and Pa

[2017-06-07 17:51] brywang-msft commented on #289
1. Indeed, seems like it's coming from PSGet. Will open this issue there.
2. I don't see any issue and it should be a small change - willing to take it into the next version as we're going to have to do a full test matrix anyways. @jianyunt can you see any issue with this?

[2017-06-07 19:32] jianyunt commented on #289
@brywang-msft, I am fine with your proposal.
When you say old Microsoft.PackageManagement.dll, do you mean even a user relaunches a new powershell console we are still loading the old .dll?
@ bmanikm, changing assembly loading order will be bit tricky. I recommend we treat it separately from this issue. From the code,  I can see If NuGet exists under providerassemblies folder, it gets load first.

[2017-06-07 19:38] jianyunt commented on #289
This change will impact less areas: Possibly we can ignore the nuget  provider under providerassemblies  if the Nuget provider exists under PackageManagement folder and the version is higher than one under providerassemblies.

[2017-06-07 19:41] brywang-msft commented on #289
The problem is Microsoft.PackageManagement.dll (and possibly meta provider), not NuGet provider. NuGet 208 or 209 both work. No change required to how we deal with the ProviderAssemblies folder.

[2017-06-07 19:53] jianyunt commented on #289
ok then the fix is simple. We can change the assembly loading order in the PackageManagment.psm1 to load the fullclr/coreclr first. if it does not exist, load the top level folder.

[2017-06-15 20:55] rmenessec commented on #195
Hi, I'm having a problem very similar to the OP, except that I don't have FIPS policies enabled. I've already double-checked connectivity, and I can watch PowerShell attempting to reach 'https://go.microsoft.com/fwlink/?LinkID=627338&clcid=0x409' via packet capture. I don't have a MitM proxy enabled, so I can't be certain what's going on in the session, but I can see the TLS handshake with the ser

[2017-06-15 21:11] jianyunt commented on #195
Does PackageManagement  1.1.3.0 work for you? We are seeing https://github.com/OneGet/oneget/issues/289  issue on download level  WS2012 R2  machine. What's your os?

[2017-06-15 21:13] rmenessec commented on #195
@jianyunt I provided that information. My situation is identical to the OP, who is running 7 SP1 x64.

I cannot install or upgrade any packages, as I explained in my comment.

[2017-06-15 21:30] jianyunt commented on #195
re-launch powershell
Get-module PackageManagement -list
if you have PackageManagement  version 1.1.3.0 available
Import-Module PackageManagement -RequiredVersion 1.1.3.0 -force
Get-module PackageManagement

now find-module xjea for example

[2017-06-15 21:54] rmenessec commented on #195
[code]

[2017-06-15 22:49] jianyunt commented on #195
go ahead rename or delete 1.1.4.0 folder under PackageManagement .
relaunch powershell
Import-Module PackageManagement -RequiredVersion 1.1.3.0 -force

[2017-06-16 17:35] rmenessec commented on #195
I don't think you understand. I can't install any packages at all that require any kind of download from microsoft.com.

See again:
[code]

[2017-06-16 17:41] jianyunt commented on #195
I suspect it's caused by the new version of PackageManagement, 1.1.4.0.  That's why I am asking you to delete 1.1.4.0 and try find-module or package again.

[2017-06-16 17:50] rmenessec commented on #195
Yes, I understand. I tested with the version shipped with PowerShell (WMF 5.1 for 7 SP1 x64) and with 1.1.3.0 before I realized that 1.1.4.0 was available.

The results are the same in all three cases: I can't download anything, and I can't install a package unless I go to the trouble of downloading every component by hand. Whichever package manager is in control, it always demands that NuGet be i

[2017-06-19 22:47] jianyunt commented on #195
@rmenessec Did you manually copy 1.1.4.0  version on your machine considering you cannot download any modules?
@JKeithB, can we setup a live meeting with rmenessec for better understanding his case? thx

[2017-06-19 23:12] JKeithB commented on #195
@rmenessec - if you would be willing to work with us directly on this, please send email to keithb at microsoft dot com (trying to avoid gh trolls), and we can set up a time where we can work with you directly.

[2017-07-04 17:04] msvaillant commented on #183
I have no luck with this problem
[code]

[code]

[code]

[code]

I tried
[code]

[code]

but get-psrepository stays empty - can you help me with this strange situation?

[2017-07-04 17:34] dermeister0 commented on #183
Try following command:

[code]

[2017-07-04 17:36] msvaillant commented on #183
@dermeister0

[code]

[2017-07-11 15:36] StingyJack commented on #164
@jianyunt - so, will my team be able to use dependencies like VSSetup in our own modules (to find MSBuild for example), or am I left with a crummy import/install module headers or saving a copy external modules and publish them to our in house repo?

[2017-07-11 17:02] jianyunt commented on #164
@StingyJack, install-module works for dependences within the same repo. For dependency modules are hosted on the repo different from that module to be installed, I recommend you to publish them to your house repo. If you do not wish to publish them into your house repo, you may save modules to your common file share, Register-PSRepository -Name local -SourceLocation \\server\commonshare,  then ins

[2017-07-13 01:44] StingyJack commented on #164
Thanks for the clear and prompt response on that. I figured the latter was going to be the action needed. I don't have a problem with save-push for them except that it may be forgotten from time to time, and may be able to just configure proget as some kind of connector for them.

Is there a significant reason why this approach for powershellget was chosen instead of the nuget style of cross-repo

[2017-07-18 18:58] samkh79 commented on #183
@msvalliant did you find and solution to your problem above? I am coming across the exact same error.

[2017-07-19 08:04] msvaillant commented on #183
@samkh79 I have contacted network admins to help me solve this problem, and they did it somehow. As I understand it is problem with whitelist/blacklist of host in firewall settings

[2017-07-31 13:00] efav commented on #183
@msvaillant Thank you for the post. It saves me a ton of time. I'll abandon trying to use the psgallery from work.

[2017-08-04 13:50] nbuuck commented on #183
I began encountering problems with executing `Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Verbose -Force` after SSL/TLS hardening was applied to the server where the command was executing. I had to revert the protocol and ciphers (HKLM\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL) and cipher suite (HKLM\SYSTEM\CurrentControlSet\Control\Cryptography) preferences to

[2017-08-07 17:32] decmaxn commented on #183
I am getting the same problem on a Windows Server 2016 version 1607 Build 14393.447 installation with GUI, but it's not happening on the installation without GUI. $PSVersionTable return exactly same version on both installation.

[2017-08-07 20:13] samkh79 commented on #183
I also have the network team enable internet access temporarily on the servers to make it to work.

[2017-08-18 11:01] mkarpuk commented on #273
Same thing - tried multiple times with different packages. It's a pity that there is no reaction for such a long time

[2017-08-22 01:26] jazzdelightsme commented on #270
IMO this bug needs to be prioritized... fresh install of Win10, `Find-Package -Provider Nuget 'NewtonSoft*'` should find a bunch of packages, but finds none.

[2017-08-22 01:38] dotps1 commented on #270
considering its been about 6 months since the last update, im doubtful.

[2017-08-23 17:04] jianyunt commented on #270
Our current PackageManagement NuGet provider supports NuGet protocol V2 only. That’s the reason causing find-package to fail on V3.

I will bring this issue to our team discussion to see if we can prioritize our work to support NuGet protocol V3.

Sorry for the inconvenience.

[2017-08-23 17:28] jianyunt commented on #270
@brywang-msft  for the time being,  we can improve our error message to indict V3 NuGet protocol is not supported.

[2017-08-23 18:04] dotps1 commented on #270
The latest recommended nuget.exe client is 4.1.0 https://www.nuget.org/downloads.  I mean, seems like getting of V2 should defiantly be a priority.

[2017-08-24 04:48] brywang-msft commented on #195
@rmenessec Some questions:

1. Mind if I move this to its own issue? I don't think this is related to the original FIPS issue. That way your issue isn't buried at the bottom of this thread.
2. Can you add ```-Debug``` to the ```Update-Module``` command? Probably won't help too much, but it's still additional info.
3.  My best guess is that we need the info for why the download failed. This is the

[2017-08-24 16:32] rmenessec commented on #195
@brywang-msft,

1: Sure!

2: Sure!

Can you provide the full command line you'd like to see invoked? Just 'Update-Module -Debug', or are there other options or conditions that you're looking for?

I see that it produces a huge amount of output; what's the easiest way to log this? And can I log it without having to run it interactively?

3: When you say 'capture', do you mean console output, packet

[2017-08-24 17:47] brywang-msft opened #301 "Unable to download NuGet Provider on Win 7 SP1 x64"
Forked from comment: https://github.com/OneGet/oneget/issues/195#issuecomment-308863200

Gist of the issue:
[code]

Action items:
- [ ] Add error logging for download issues

[2017-08-24 21:52] brywang-msft commented on #301
@rmenessec github.com/brywang-msft/oneget (branch downloaderrorlogging)* has a prototype for full CLR. Would you mind trying that version please? With ```-Debug``` enabled you should (hopefully) see a message like "Download failed: < error >". I would also enable ```-Verbose```.

You'd have to build the module yourself (run src\bootstrap.ps1, then src\build.ps1 -framework net451).

If you want us

[2017-08-25 18:16] brywang-msft commented on #252
Hi @mrweiland. This message appears when the download of a package fails for any reason. If you could provide output from ```Save-Package ... -Verbose -Debug```, that would be very helpful. Thank you!

[2017-08-25 19:44] brywang-msft commented on #286
Potential fix [here](https://github.com/brywang-msft/oneget/tree/registersourcewithproxy) while we're waiting for WIP branch to unblock.

[2017-08-25 20:09] brywang-msft commented on #279
Can you add ```-AllowPreleaseVersions```? Pre-release versions are ignored in NuGetProvider by default. [CoreCompat.System.Drawing](https://www.nuget.org/packages/CoreCompat.System.Drawing) only has pre-release versions available.

In the unlikely case that you need to ignore pre-release versions for most dependencies, I would run ```Install-Package -AllowPrereleaseVersions``` for those specific p

[2017-08-25 20:26] brywang-msft commented on #239
@jgodse Can you confirm if there's any further issues?

[2017-08-25 20:54] brywang-msft commented on #273
@jianyunt Can you confirm if the Programs provider currently supports uninstall? Code seems to suggest not, but I wanted to double check.

[2017-08-25 21:20] jianyunt commented on #273
You are right. Programs supports get- only. See https://github.com/OneGet/oneget/blob/master/src/Microsoft.PackageManagement.CoreProviders/ProgramsProvider.cs

[2017-08-27 19:00] rmenessec commented on #301
I'm not familiar with building .NET source or PowerShell components. I do have MSVS2015 installed, mostly to build a few simple projects with optimizations (PuTTY, for example). What are the requirements for building OneGet? What are the steps?

If it's not relatively straightforward, or requires installing a lot of additional tools, I would prefer not to invest too much time learning my way aroun

[2017-08-28 18:00] brywang-msft commented on #301
The build uses dotnet.exe, which is bootstrapped by build scripts. The instructions are provided in the readme, but for quick reference:
(Open PowerShell)
[code]
I only included the PowerShell 5.1 build here as I assume that's what you'll need. If you want to be safe, you can replace ```net451``` with ```netstandard1.6``` and ```netcoreapp2.0``` (calling ```build.ps1``` 3 times in total).

I'm not

[2017-08-28 20:01] rmenessec commented on #301
Win7. I'll be building and testing on the same machine that's experiencing the download problems. The bootstrap has already completed without visible errors. I just remembered: I already have .NET 4.7 and the corresponding SDK already installed, for what that's worth. Does that affect the build string?

... '.\build.ps1 net47' ?

What about capturing the output? Will that be stored automatically,

[2017-08-28 20:17] brywang-msft commented on #301
No, no effect. It might not work on your Win7 setup, but you can give it a shot. Once the change is in the WIP branch (we're in the middle of small release to unblock a change in PowerShell Core), I'll see if I can get a .zip or something for you to try. Not sure how Jianyun usually gives out private builds.

[2017-08-28 20:29] rmenessec commented on #301
What about capturing the output? Will that be stored automatically, or do I need to capture with console redirection?

[2017-08-29 17:45] brywang-msft commented on #301
The output should go to standard out and error, so you should be able to use whatever method you find appropriate for redirection.

[2017-08-31 18:21] jianyunt opened #304 "Remoting from PowerShell 6 to 5.1 is broken"
User reports:  we need to fix it

Remoting from PowerShell 6 to 5.1 and getting this when I use Install-Module, anyone seen this before?

[HOSTNAME]: PS C:\Users\Joey\Documents> Install-Module acmesharp
Object reference not set to an instance of an object.
    + CategoryInfo          : ResourceUnavailable: (:) [], ParentContainsErrorRecordException
    + FullyQualifiedErrorId : System.Management.A

[2017-08-31 19:33] joeyaiello commented on #304
Blocked on  PowerShell/PowerShell#4615

[2017-09-03 14:53] idelix opened #305 "Cant install chocolatey using nuget provider"
Hi,
On a server without internet access, I want to install chocolatey.0.10.6.1.nupkg package using nuget provider but the actual package is never installed.

Here are the steps:
1. Create local nuget repo C:\Nuget and copy nuget package chocolatey.0.10.6.1.nupkg
2. Copy nuget provider to the folder C:\Program Files\PackageManagement\ProviderAssemblies\nuget on the server
3. Register nuget repo as

[2017-09-06 18:19] jianyunt commented on #255
We need to talk to DSC team to see if DSC Environment Resource can handle it.

[2017-09-06 18:29] jianyunt commented on #234
Save-Package -path will save the nupkg to save space.
Install-package does keep the nupkg.
We need more data if go for fix.

[2017-09-06 18:29] #234 closed

[2017-09-06 18:39] jianyunt commented on #193
Since Install-Package already supports -Destination parameter, we decided not to support this feature.

[2017-09-06 18:39] #193 closed

[2017-09-06 18:41] JKeithB commented on #193
After triage and review, we have marked this as Won't Fix. The right way to handle this is for the script to expand the well-known path item before passing it to install-package.

[2017-09-06 18:50] jianyunt commented on #285
Chocolatey provider is a prototype provider created by OneGet team and is on path for deprecation. Please work with Chocolatey owners to get official support.

[2017-09-06 18:50] #285 closed

[2017-09-06 18:53] #279 closed

[2017-09-06 18:56] jianyunt commented on #277
Chocolatey provider is a prototype provider created by OneGet team and is on path for deprecation. Please work with Chocolatey owners to get official support.

[2017-09-06 18:56] #277 closed

[2017-09-06 18:59] bmanikm opened #306 "Version parameters on Get-Package and Uninstall-Package should support prerelease version values"
MinimumVersion, MaximumVersion and RequiredVersion parameter values with prerelease strings are working fine with Find-Package and Install-Package cmdlets.

Get-Package and Uninstall-Package cmdlets should support these version parameters with prerelease version values.

[code]

[2017-09-06 18:59] jianyunt commented on #271
Chocolatey provider is a prototype provider created by OneGet team and is on path for deprecation. Please work with Chocolatey owners to get official support.

[2017-09-06 18:59] #271 closed

[2017-09-06 19:08] jianyunt commented on #252
Hi @mrweiland it will help if you can try with latest PackageManagement version from PowerShell Gallery. Also, please provide the output of "get-packageprovider -ListAvailable"

[2017-09-06 19:08] #252 closed

[2017-09-06 19:12] jianyunt commented on #239
@jgodse @gfilicetti  Can you please let us know which version of PowerShell are you using in your environment. If possible please use the latest PowerShell Beta version.

Note that the regular AzureRM modules do not work in PowerShell core. You have to use separate NetCore versions. An example Azure demo is at https://github.com/PowerShell/PowerShell/blob/master/demos/Azure/Azure-Demo.ps1

[2017-09-06 19:12] #239 closed

[2017-09-06 19:13] #223 closed

[2017-09-06 19:24] #196 closed

[2017-09-06 19:26] jianyunt commented on #195
It seems like the original issue w.r.t WMF 4 to WMF5 is resolved. Hence closing this one.

[2017-09-06 19:26] #195 closed

[2017-09-06 19:27] jianyunt commented on #171
Chocolatey provider is a prototype provider created by OneGet team and is on path for deprecation. Please work with Chocolatey owners to get official support.

[2017-09-06 19:27] #171 closed

[2017-09-06 19:32] jianyunt commented on #269
@tomachristian We will review this. Please note that once the review is done, you will have to publish this to PowerShellGallery. Thanks!

[2017-09-06 19:33] #260 closed

[2017-09-06 19:39] jianyunt commented on #179
This issue seems to be fixed and hence closing.

[2017-09-06 19:39] #179 closed

[2017-09-06 19:42] #134 closed

[2017-09-06 19:42] jianyunt commented on #288
Chocolatey provider is a prototype provider created by OneGet team and is on path for deprecation. Please work with Chocolatey owners to get official support.

[2017-09-06 19:42] #288 closed

[2017-09-06 19:45] jianyunt commented on #276
This is not a PackageManagement module issue.  I am not sure what a good workaround is apart from changing the system time.

[2017-09-06 19:45] #276 closed

[2017-09-06 19:45] #205 closed

[2017-09-06 19:45] #191 closed

[2017-09-06 19:46] #145 closed

[2017-09-06 19:46] #84 closed

[2017-09-06 19:46] #79 closed

[2017-09-06 19:46] #5 closed

[2017-09-06 19:48] #203 closed

[2017-09-06 19:53] jianyunt commented on #305
PackageManagment/OnGet just download packages, and it does not support for running  package install scripts.

[2017-09-06 19:53] #305 closed

[2017-09-06 21:47] MichaelStankiewicz opened #308 "Cannot Install Package Provider in Intranet Scenario"
According to the WMF 5.1 release notes, it states:

However, I follow these instructions to the letter, and I'm not able to get this working for the life of me.  Below is the error I'll get when attempting to execute the Install-PackageProvider cmdlet after copying the binaries to a network share (or locally; either way it fails):

`Install-PackageProvider : No match was found for the specified se

[2017-09-06 22:54] brywang-msft commented on #308
Do you see any warnings printed before this? Can you confirm the version of NuGetProvider you're trying to install? Since you've referenced WMF 5.1, I assume you're using the PowerShell that came with Windows - is that correct? If so, what version of PowerShell?

There seems to be a manifest issue in different versions of the NuGet provider, but I'm not sure of the correlation yet. I'll schedule t

[2017-09-07 12:21] gaelcolas commented on #255
Thanks @jianyunt. The key here is that the host process for the LCM is not refreshed during a run, and each DSC Resource is then executed in a new thread. So if a resource refreshes the environment variables, it won't affect the calling thread. At the end of that resource processing, that thread being disposed, the next thread for the next resource is started from the parent process that did not r

[2017-09-07 12:28] gaelcolas commented on #308
@MichaelStankiewicz It works for me, I've created a DSC resource that does this bootstrap for me.
Not released to the PSGallery (not up to the task yet), but it's available here:
https://github.com/gaelcolas/PackageProviderBootstrap

[2017-09-07 15:14] MichaelStankiewicz commented on #308
@brywang-msft No warnings before the error.  The version of the NuGet provider I'm attempting to install is 2.8.5.208.  The version of PowerShell I'm using is below for your reference:

[code]

[2017-09-07 15:23] MichaelStankiewicz commented on #308
@gaelcolas So looking at your implementation, you aren't using the same cmdlet in question here, so therefore I don't think your statement is accurate when you say it is 'working for you'.  Rather, based on what I can see in your code, you are performing a simple file copy operation and not using the cmdlet Install-PackageProvider.  I'm not sure how the implementation differs from your logic, but

[2017-09-07 18:56] gaelcolas commented on #308
True, I meant to say that I managed to get PackageManagement working on offline machines, by using that approach.
Apologies for the hasty answer.

[2017-09-08 05:01] brywang-msft commented on #308
Okay, so two things:

1. The WMF 5.1 release notes are incorrect. There may have been a change that was before my time where the provider name in the manifest was changed from "NuGet" to "NuGetProvider". Hence, the command should be:
[code]
@jianyunt @JKeithB What should be the action here?

2. The latest version of NuGetProvider needs a fix - I forgot to embed the provider manifest when changing

[2017-09-08 08:41] AlexisColes opened #310 "AllowClobber parameter required on PackageManagment and PsModule resources"

[2017-09-08 14:44] MichaelStankiewicz commented on #308
@brywang-msft I just tested running the `Install-PackageProvider` command, changed the provider value to 'NuGetProvider', and the command worked.  But after running the command, I received a warning.  It appears that despite this warning message, the provider was successfully installed because I can register NuGet package sources without issue.

Below is the exact output of my commands:

[code]

[2017-09-10 22:18] bgshacklett opened #312 "Writing C#/.Net Providers"
Is there currently a recommended or accepted way to write a package provider using a C#/.Net? I've only been able to find details on writing PowerShell providers.

[2017-09-12 14:07] jeernest commented on #301
I have the same issue:

[code]

[2017-09-13 00:05] RobFaie opened #314 "Find-Package unable to locate a specific package on VSTS Package feed."
## Expected Behavior
Calling Find-Package without specifying a package name should return a list of all available packages in the fed.
Calling Find-Package specifying a package name returned above should list that one package
Calling Install-Package specifying a package name returned above should install that one package

## Current Behavior
Calling Find-Package without specifying a package name r

[2017-09-13 10:25] megamorf commented on #273
Is there a specific reason why this has only been implemented for the msi provider? Right now I'd have to uninstall a program like this:

[code]

I've just checked the `UninstallString` for packages retrieved via the Programs provider and not all of them feature a command that can be used for an unattended removal:

[code]

I assume that's the reason why this has been on the backburner so far?

[2017-09-13 15:56] brywang-msft commented on #273
I don't see any technical reason, but I haven't looked into it yet so I could be wrong. At worst, if the program doesn't supply an uninstall command, we can write an error. This feature is currently [scheduled](https://github.com/OneGet/oneget/issues/273#event-1245792580) for the v1.2.1 release, though there's no hard date.

If possible, please submit any requests for this feature in this thread.

[2017-09-15 18:14] rebro-msft opened #315 "Returns all versions (including prerelease) when AllVersions is specified, regardless of the value of AllowPrereleaseVersions switch"
Example:  Find-Package -Name X -AllVersions

Expected Results:
Returns only release versions of X, since -AllowPrereleaseVersions was not specified.

Actual Result:
Returns prerelease versions as well as release versions of X.

[2017-10-17 23:26] brywang-msft opened #318 ""File in use" random error when installing AzureRM module"
Original issue: PowerShell/PowerShellGet#178

Basically, while running ```Install-Module AzureRM```, a random dependency will hit a random file access issue:
[code]

[2017-10-23 15:54] lukespragg commented on #301
Also noticing this issue on Windows 10.
[code]

[2017-11-08 21:50] TravisEz13 opened #319 "authenticode sign all binaries in the release builds of the module."
authenticode sign all binaries in the release builds of the module.

[2017-11-09 02:09] bmanikm opened #320 "ExcludeVersion switch is not working on CentOS and Ubuntu"
For more details please take a look at the below reported issues
- PowerShell/PowerShellGet#192
- PowerShell/PowerShell#3986

[2017-11-11 20:57] bmanikm commented on #318
Another occurrence https://github.com/PowerShell/PowerShellGet/issues/194.

[2017-11-13 22:26] SteveL-MSFT commented on #304
https://github.com/PowerShell/PowerShell/issues/4615 has been fixed for RC

[2017-11-16 09:23] uli-weltersbach opened #321 "Get-Package -Name "Name.1.1""
**Repro:**
1. Create a NuGet package with ID `MyPackage.1.1` and Version `1.0.0`. E.g.:
[code]

2. Install the package.

3. Run `Get-Package -Name MyPackage.1.1`

**Expected result:**
The package "MyPackage.1.1" is returned.

**Actual result:**
The package `MyPackage.1.1` is not found.

The package can be found using the *incorrect* name `MyPackage.1`.

See screenshot.

![Package Management - pack

[2017-11-17 19:27] bmanikm opened #322 "Allow installation of unlisted package dependencies in NuGet provider"
Currently, NuGet provider supports installation of unlisted dependencies only when exact version requirement is specified.
There are some situation where all versions of a package dependency can be unlisted.
If package A depends on package B and when all versions of B got unlisted, installation of package A should succeed for all possible dependency requirements.

[2017-11-26 19:49] larssb opened #324 "PackageManagement and non-interactive AKA headless sessions"
I'm struggling a bit to get the PackageManagement module to work in non-interactive/headless mode.

**This is the scenario:**

1. Created a local windows user
2. Added the user to the local administrators group
3. Setup a PowerShell scheduled job which runs a script where I check for....

4. The script, as part of a self-update feature, does.....
`
Get-PackageSource -Name "repository name" -ErrorA

[2017-11-26 20:41] larssb commented on #324
I have a somewhat similar question going on over at the PowerShellGet repo. it is [here](https://github.com/PowerShell/PowerShellGet/issues/199) -- just for reference.

[2017-11-27 20:20] makhdumi opened #325 "What is Install-Package supposed to do for NuGet packages?"
Sorry, but I can't find anything in the documentation about this. What's the use case for Install-Package over nuget CLI?

`nuget.exe` already downloads and unpacks NuGet packages. I was hoping that OneGet would load the assemblies, but it appears that it doesn't. Is that right?

[2017-11-30 11:57] loshurik commented on #324
I have the same issue with PackageManagement DSC resource

[2017-11-30 15:20] tehsuk commented on #324
I ran into a similar issue with scheduled tasks running as SYSTEM & installing powershell modules.  You probably need to register the package provider first as the user.  Run Get-PackageProvider as the user & make sure PowerShellGet is listed.

[2017-11-30 21:51] Dr-Emann commented on #270
The inability to use modules that depend on other modules via Nexus's NuGet repo is a showstopper for using powershell repositories at my work.

[2017-12-01 11:05] loshurik commented on #324
@tehsuk thank you for the idea!
I've fixed my issue with DSC by switching to another module
https://github.com/PowerShell/PackageManagementProviderResource
it has PackageManagementSource resource to register the provider

[2017-12-02 21:28] larssb commented on #324
@tehsuk yeah that is an option. However, I want this as automatized as possible and having to loing as the user counteracts that.
I had to refactor my update feature and I'm basically using invoke-webrequest and calling the API of the package management system to do what I need to. However, it would still be great to have this working.

[2017-12-13 14:17] loshurik commented on #324
have to reply here again
I have a DSC with resources:

	PackageManagementSource NugetRepository
        {
            Ensure      = "Present"
            Name        = "TrDevOpsNuget"
            ProviderName= "Nuget"
            SourceUri   = "http://my.internal.nuget.repo"
            InstallationPolicy ="Trusted"
        }
	NugetPackage Agent
	{
		DependsOn = "[PackageManagementSource]NugetRepo

[2017-12-14 02:55] djwork opened #327 "Can't set AllowClobber on PackageManagement DSC via AdditionalParameters property"
Can't set AllowClobber on PackageManagement DSC via AdditionalParameters property

        PackageManagement CarbonModule
        {
            Name = 'Carbon'
            MinimumVersion = '2.5.0'
            ProviderName = 'PowerShellGet'
            Source = 'MyRepository'
            Ensure = 'Present'
            AdditionalParameters = @{'AllowClobber' = $true; 'Force' = $true}
            Dep

[2017-12-14 20:14] brywang-msft commented on #324
@larssb If you can get the -Debug output to log, that would be nice (set $debugpreference = 'continue' as well). Having trouble getting scheduled tasks to work right now. :( If you could help track down the stack trace for when the error occurs, that would help greatly in debugging. Also logging info about the powershell.exe instance that runs would probably be helpful (including the path to power

[2017-12-15 12:39] loshurik commented on #324
@brywang-msft
The Source is valid, I use it successfully out of DSC at the same node
plus the DSC works OK for the first time

as I mentioned, the error triggers after a successful run for NugetPackage resource

with PackageManagement I describe the configuration like
`PackageManagementSource NugetRepository
{
    Ensure      = "Present"
    Name       = "TrDevOpsNuget"
    ProviderName= "Nuget"

[2017-12-21 19:09] mhsimkin opened #332 "Chocolatey - Save-Package unable to save package"
When I execute this command in PowerShell:
`Save-Package  -Name dotnet4.7.1 -Path "D:\Work\BN\ProductDataSystemsGitRepos\Tools\UtilityApps\SoftwarePackagesNuspecs\NDP 4.7.1\test" -Source chocolatey -Verbose -Debug`

Save-Package fails with:
[code]

Any ideas as to why?  I have attached a dump of all the version details and log below:
[code]

[2017-12-21 20:45] brywang-msft commented on #332
Can you try:
[code]
That should give you the nupkg(s) if it works. I don't know of any finished + supported Chocolatey providers off the top of my head.

Would you be so kind as to also paste the output of ```Get-PackageProvider Chocolatey | fl *``` please?

[2017-12-21 20:48] mhsimkin commented on #332
@brywang-msft Thank you.  That resolved the issue.

Here is the output you requested.

[code]

[2017-12-21 20:48] #332 closed

[2017-12-21 20:52] brywang-msft commented on #332
Thanks, just wanted to confirm which provider that was. I'd recommend just using NuGet provider with chocolatey sources until there's a supported chocolatey provider. It doesn't give you the automatic install stuff, but you can always invoke the install script manually.

[2018-01-03 12:16] LaurentDardenne opened #333 "SemanticVersion.CompareTo() impossible to use a string as parameter"
SemanticVersion.CompareTo(_'2.0.0.0-beta1_') throw an ArgumentNullException :
[code]

[code]
[code]
[code]
[code]
Same issue with Powershell 5.1.14409.1012

[2018-01-03 21:24] DCAG commented on #327
I get the same error with Additional Paraemter **ExcludeVersion**:
Cannot convert 'System.String' to the type 'System.Management.Automation.SwitchParameter' required by parameter 'ExcludeVersion'.
[code]

[2018-01-04 12:00] LaurentDardenne commented on #333
Maybe the error message should be more explicit :
[code]

[2018-01-05 00:04] #333 closed

[2018-01-05 22:20] commonsensesoftware opened #334 "MSI Provider Does Not Implement AdditionalArguments"
## Symptoms
When using `Install-Package` to install a *.msi package, the `-AdditionalArguments` parameter is seemingly not honored. The `PORT` parameter illustrated below is required and must be specified for a silent installation; therefore, at least one of the following scenarios should succeed.

### Scenario 1
Fails and the log file indicates that the argument is not passed through.

[code]

##

[2018-01-25 17:44] colteng1141 commented on #301
I was experiencing the same issue with Windows 10 Enterprise, running the commands in Visual Studio Code.  I was able to successfully install NuGet and the module I was truly after by using the built-in Powershell ISE as an administrator.

However, I'm still unable to install subsequent modules via Visual Studio Code. It's saying it is unable to resolve package source 'https://www.powershellgaller

[2018-01-28 20:44] jwittner opened #335 "Failure to Install due to Virus/Malware"
When trying in install the latest version via the PSGallery I receive this error:
[code]
Specifically, windows defender finds this Trojan: https://www.microsoft.com/en-us/wdsi/threats/malware-encyclopedia-description?Name=Trojan:PowerShell/Peasecto.A

$PSVersionTable -
[code]

[System.Environment]::OSVersion -
[code]
Get-MpComputerStatus relevant items -
[code]

[2018-01-28 22:05] jwittner commented on #335
I'm starting to think this may be an issue with the new virus definitions. I get the same error when trying to install the PSScriptAnalyzer module from PSGallery. I don't get it for every module from the gallery however.

[2018-01-29 07:18] KevinMarquette commented on #335
The Windows Defender issue is resolved in definition update 1.261.424.0

    PS:> Get-MpComputerStatus | Select AntivirusSignature*

    AntivirusSignatureLastUpdated   : 1/28/2018 8:28:37 PM
    AntivirusSignatureVersion       : 1.261.424.0

[2018-01-29 20:43] jwittner commented on #335
As of this morning I'm on 1.261.449.0 and still seeing it:

[code]

[2018-01-30 05:13] jwittner commented on #335
Alright, got another update and the issue has gone away:
[code]

[2018-01-30 05:13] #335 closed

[2018-02-01 22:37] bmanikm opened #336 "NuGet provider lists prerelease versions for local repositories"
NuGet provider lists the prerelease versions without -AllowPrereleaseVersions switch for local directory based repositories.

[code]

[2018-02-09 21:11] mrhockeymonkey commented on #327
I came across this issue today at work also. I added support for switches as a work around but it would be great to get this into the next release (#337)

If anyone has any suggestions or issue please let me know. I have done some testing but I couldn't see any documented process around updating DSCResources.

[2018-02-16 08:48] urbantom opened #338 "Install-PackageProvider w/ CurrentUser issue?"
Context: I do not have admin rights on my PC/Win7_x64.
So the only option is to use
    `Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Scope CurrentUser`
But then neither
    `Get-PackageProvider -ListAvailable`
nor
    `Import-PackageProvider -Name NuGet`
finds installed package provider.
Obviously, I can see the binary Microsoft.PackageManagement.NuGetProvider.dll in my local fo

[2018-02-27 15:32] davidjmckinnon commented on #171
If you're reading this, you are most likely having issues at your company while attempting to install providers or modules from behind a proxy and possibly receiving:

"**_Unable to download from URI 'https://go.microsoft.com/fwlink/?LinkID=627338&clcid=0x409'_**"

 - the Note below may pertain to you...

*** Important Note: Sysadmin Accounts May Be Blocked By Your Company While Standard Accounts

[2018-03-07 13:42] Glober777 opened #340 "'Install-PackageProvider -Name NuGet -Force -scope AllUsers' doesn't pull down NuGet.exe file"
It would be great if running the following command would also pull down the NuGet.exe file and place it into an appropriate location, so that Publish-Script cmdlet wouldn't have issues running in a non-interactive mode

[2018-03-07 18:14] edyoung commented on #304
Works for me

[2018-03-07 18:28] #304 closed

[2018-03-07 18:31] edyoung commented on #325
Package management is uniform wrapper over multiple different repositories. It doesn't offer much additional functionality (and in some cases offers less) over interacting with the underlying repository directly. The advantage is in having a single tool to deal with multiple kinds of package.

[2018-03-07 18:31] #325 closed

[2018-03-15 19:54] jianyunt opened #341 "NuGet V3 exception for downloading packages from VSTS"
PS E:\> install-package -Name "Microsoft.Kusto.Tools" -Source "https://msazure.pkgs.visualstudio.com/_packaging/MSNugetMirror/nuget/v3/index.json" -debug -Credential (Get-Credential)

cmdlet Get-Credential at command pipeline position 1
Supply values for the following parameters:
Credential
DEBUG: 00:00:00.0000003 Calling 'NuGet'::'ResolvePackageSources'.

Confirm
Continue with this operation?
[Y]

[2018-03-15 20:35] bmanikm opened #342 "Install-Module fails to download package from VSTS package management feed in PS Core"
_From @shrimma on March 7, 2018 16:48_

## Expected Behavior
Install-Module should download and install a package from VSTS nuget feed successfully.

## Current Behavior
When attempting to Install-Module in PS Core 6.0.1 the following error occurs during download:
[code]

The command works as expected in PowerShell Windows v5.

## Steps to Reproduce (for bugs)
1. Create and publish a module to VST

[2018-03-15 20:35] bmanikm commented on #342
_From @shrimma on March 13, 2018 9:38_

Note this command works from Ubuntu 16.04. So seems the issue is limited to Windows 10.

[2018-03-15 20:36] bmanikm opened #343 "Find-Module -AllVersions returns no results when run against internal/private repositories"
_From @dheise on February 13, 2018 15:37_

In version 1.1.7 of PowerShellGet, running "find-module <_module_name_> -AllVersions" returns no results when run against private /internal repositories. It does return all versions when run against the powershell gallery.

Version 1.0.0.1 of PowerShellGet that ships with Powershell 5.1 doesn't have this problem. It returns all versions of a module regard

[2018-03-15 20:36] bmanikm commented on #343
After investigation, I found that this is a regression in 1.1.7.0 version of PackageManagement. PowerShellGet provider returns the results but PackageManagement core in 1.1.7.0 version doesn't return these results.

[2018-03-16 17:19] Jaykul commented on #6
The lack of *Update* is **the** blocker preventing PackageManagement from, well ... mattering at all.

Without Update, chocolatey is never going to bother implementing a provider.

Without Update, other providers (like PowerShellGet) are _hacking in_ their own cmdlets to work around PackageManagement's lack, which means users can't use PackageManagement commands!

## Without Update PackageManageme

[2018-03-17 19:45] mikhail-barg commented on #6
We are looking for a package manager for some time already, and I had high hopes for OneGet, but this issue renders it to be totally pointless.

[2018-03-19 23:57] jzabroski opened #344 "Remove Circular dependency between PackageManagement and PowerShellGet, inability to uninstall modules"
Wow, check this out. It's possible I'm doing things wrong but wow is this complicated.

[code]

I can't seem to remove 1.1.7.0 and I have no idea when I'm running Find-Package if it actually is using 1.2.0 or 1.1.7.0:

[code]

Think I'm done having fun?

Now, what would be logical at this point, is to try uninstalling 1.1.7.0 using something named Uninstall-Module... but nope... that's not possibl

[2018-03-20 10:57] alexsmid opened #345 "DSC PackageManagement doesn't pass "SourceCredential""
## Expected Behavior
Calling PackageManagemt from DSC for installing a module where credentials is needed (in our case, VSTS Package) and the parameter "SourceCredential" should be used.

## Current Behavior
Calling PackageManagement from DSC for installing module "SourceCredential" is not passed correctly to Install-Package -Credential

## Possible Solution
Replace "SourceCredential" parameter wi

[2018-03-21 06:54] megamorf commented on #273
Hey @artisticcheese, have I missed something or why did you close the issue? :O

[2018-03-21 09:59] Stephanevg commented on #6
Hi, is there anybody looking into this one?

This ticket is open for almost 4 years.

@xumins @jianyunt could one of you have a look at this?

[2018-03-21 10:16] bateskevin commented on #6
I'm also very interessted in this issue. And I also agree with @Jaykul and @mikhail-barg.

It would be really cool to see some investement in this.

[2018-03-21 12:11] MathiasMagnus commented on #6
Totally agree. As far as I'm concerned, this piece of technology ends up in the same place where DSC Core seems to be heading. Dead before it's even born.

PackageManagement was released a very long time ago without a core feature which renders it pretty much useless as a wrapper around other providers. PackageManagement is supposed to have a superset of features generally available in the wild. W

[2018-03-21 12:20] ScottRFrost commented on #6
I had completely forgotten about this project until git notified me when the issue had activity.  1 commit in all of 2018.  I guess it's mostly abandoned?  I guess MS just wants you to use the Windows 10 store, I get it.

[2018-03-21 15:16] patsissons commented on #6
I gave up on this project long ago. [chocolatey](https://chocolatey.org/install#installing-chocolatey) has filled the gap sufficiently.

[2018-03-22 20:39] Stephanevg opened #347 "Old issues unresovled"
Hi,

I was wondering what is happening with the following issue:
https://github.com/OneGet/oneget/issues/6

It is open for 4 years now. It would be nice to have some official feedback from Microsoft, as this is a pretty important feature asked by the community, and seemed to have felt off the current's team radar.

[2018-03-23 20:34] edyoung commented on #6
Hi folks, I'm the Engineering Manager for the team at Microsoft which maintains OneGet/Package Management, among other projects. NB: I'm fairly new here, so I can't speak to all the historical issues like "why didn't you do this in 2014?"

Very briefly:

Thanks for bringing the issue up, and reanimating it more recently. It is definitely helpful to get feedback on issues and missing functionality,

[2018-03-23 20:34] edyoung commented on #347
Please see my comment on the other issue.

[2018-03-23 20:34] #347 closed

[2018-03-26 23:18] bmanikm opened #348 "Import-PackageProvider should import the recently installed latest version with -Force option"
### Repro steps
- On a machine with just 1.0.0.1 version of PowerShellGet module, or
- On a clean Windows 10 or Server 2016 machine

[code]
### Expected Behavior
Import-PackageProvider should import the newly installed version.

### Current Behavior
Import-PackageProvider doesn't import the recently installed version, instead it re-imports the currently imported version

[code]

[2018-04-06 08:23] jirkapok opened #349 "Example how to get functions from PackagemanagementFunctions"
There are functions used in example https://github.com/OneGet/oneget/blob/WIP/docs/writepowershellbasedprovider.md
which come from PackagemanagementFunctions (how i guess). Can you extend the example to show how to be able use these functions like New-Feature or New-SoftwareIdentity inside my own provider?

[2018-04-17 00:25] bmanikm opened #350 "Install-Module from VSTS PSRepository with Credential fails."
_From @jwittner on April 12, 2018 21:37_

Note: The same commands succeed in Windows Powershell.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

_Copied from original issue: PowerShell/PowerShellGet#261_

[2018-04-17 00:25] bmanikm commented on #350
@jwittner please take a look at https://github.com/PowerShell/PowerShell-Docs/issues/1200#issue-227526581 for more details on installing from a VSTS feed with PAT.
Is this only applicable to PowerShell Core? If it is still reproducible, can you please provide the debug output of Install-Module?

[2018-04-17 00:25] bmanikm commented on #350
_From @jwittner on April 17, 2018 0:5_

I had left a small note at the top of my issue, but to clarify this does function in Windows PowerShell, it only fails in Core. I've attached the debug output [logs](https://github.com/PowerShell/PowerShellGet/files/1917694/log.txt).

[2018-04-17 00:25] bmanikm commented on #350
@jwittner thanks for the debug log. It looks like this issue is happening in NuGet provider. I am moving this to http://GitHub.com\OneGet\OneGet repo.

[code]

[2018-04-24 10:13] wastek commented on #166
I initially did not had the ISEModuleBrowser folder in my Program Files at all, therefore I launched this command first to get it
`Install-Module -Name ISEModuleBrowserAddon `

After that the code provided by @OzBob worked perfectly, thanks !!

[2018-04-27 16:19] jwittner opened #353 "Builds for Pull Requests are not functioning."
The builds for #352 never kicked off - I see these required builds:

![image](https://user-images.githubusercontent.com/12958442/39373288-f426b776-49fb-11e8-9b14-008bac82b29b.png)

[2018-04-28 18:44] HarelM opened #354 "Can't find package without specific source"
Hi, I'm looking into migrating my site to docker and making ti cross-platform. To do so I've searched for the equivalent of linux's `apt-get` or `apk add` and found this solution.
First of all I would like to congratulate you for getting to a package manager for windows (which was missing for at least a decade, but better late than sorry...).
I'm running the following command to try and understand

[2018-04-28 21:38] edyoung commented on #354
If you don't specify a source, find-package will only search the package repositories which have already been registered. As the error suggests, Get-PackageSource will show what sources are known about.

You can run

`Register-PackageSource -Name nuget.org -Location https://www.nuget.org/api/v2 -ProviderName NuGet`
to add nuget.org to the list of package sources. After that,

`find-package -name I

[2018-04-28 21:38] #354 closed

[2018-04-29 08:27] HarelM commented on #354
Can this be configured by default? Unless NuGet is not part of the Microsoft ecosystem...
As a side note, I really don't understand why you chose to make this so complex...

[2018-04-30 21:09] jianyunt commented on #354
@HarelM  Once you run Register-PackageSource, it will be persistent every time you launch PowerShell console. It needs to be run once only.

 I guess the reason we made so complex possibly due to:
1) The PackageManagement was designed to be an aggregator/dispatcher for its plus-ins (called Package Managers), including PowerShellGet, NuGet, MSI, MSU, Programs, ChocolateyGet, etc.  The software inst

[2018-04-30 21:26] HarelM commented on #354
The bottom line is that the user experience around this tool is more complex than it should be - I think a good user experience for package manager can be seen in linux systems where you don't need to configure anything but just add packages.
I'm guessing I'm not the only one who got confused by this behavior.
Good defaults are key to good user experience, I think you should consider what is the u

[2018-05-01 18:53] #306 closed

[2018-05-01 21:50] bmanikm opened #357 "Question regarding PackageManagement 1.0.0.1 DSC resource"
_From @adhodgson1 on May 1, 2018 21:36_

Not sure if this is the right place.  I am migrating some DSC configurations from using PackageManagementProviderResource and understand that on Windows Server 2016 we get by default PackageManagement 1.0.0.1.

When I run DSC against this by doing Import-DSCModule -Name PackageManagement I get told that the module cannot be found.  This is typically from th

[2018-05-01 21:51] bmanikm commented on #357
@adhodgson1 You will have to install the PackageManagementProviderResource module from PSGallery --> https://www.powershellgallery.com/packages/PackageManagementProviderResource

[2018-05-07 13:39] yvesgermain opened #358 "PackageManagementSource set method asks for a Location parameter?"
I am trying to invoke a set method using this command line :
PS C:\> invoke-dscresource -Module PackageManagement -name PackageManagementSource -Method set -Property @{ensure= "present" ; name = "PSGallery" ; InstallationPolicy = "Trusted" ; Prov
iderName= "Nuget"; SourceLocation = "https://www.powershellgallery.com/api/v2/";}

Basically, I am trying to set the PSGallery site as a trusted installa

[2018-05-16 02:13] Smorgan05 opened #359 "Implement Better Get-Package Registry Key Interpretation"
From what I can gather Get-Package interprets information in the registry from the following keys:

* 'HKLM:\SOFTWARE\Wow6432Node\Microsoft\Windows\CurrentVersion\Uninstall'
* 'HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall'
* 'HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall'

These keys tell Get-Package what programs are installed on Windows.  For example when one does the fo

[2018-05-16 04:00] edyoung commented on #359
Thanks Morgan.

At this point we don't have any resources to investigate this more deeply. If you or any other community member would like to propose a concrete implementation via pull request, we can look at that.

A couple of things to think about if you do want to pursue that.

Bear in mind that not all packages in Package Management are MSIs. It also covers multiple other package types. Try ru

[2018-05-16 04:30] Smorgan05 commented on #359
Edwin,

This would not break **ANY** package providers.  All that is being done is providing more concrete information from OneGet.  I will be frank here is there any reason not to implement these changes across the board?  I don't see a reason why this can't be done because I would think that you guys would approve of having higher quality information provided by OneGet.

In regards to other pack

[2018-05-16 13:27] edyoung commented on #359
I am not saying anything against your proposal.

The most important thing I'm saying: sorry, but my team doesn't have time
to work on it.

If you want it, submitting a pull request or forking the project is the
best way to go.

The rest of my comments were suggestions on things to look out for while
implementing changes.

On Tue, May 15, 2018 at 9:30 PM, Morgan Overman <notifications@github.com>
w

[2018-05-17 17:46] Smorgan05 commented on #359
Edwin,

Ok, I'll meet you guys half way.  Can you at least give me the logic diagrams for OneGet so I don't have to debug / reverse engineer it?  I want to implement these changes but at the same time I don't spend quite a few days figuring out how Get-Package works on the back end.

I want to go ahead and make a stab at doing this.  I have already forked the OneGet repository so I do intend to im

[2018-05-18 02:50] edyoung commented on #359
We don't maintain detailed class-by-class diagrams. Visual Studio can generate some and you might find the diagrams at https://github.com/OneGet/oneget/blob/WIP/readme.md helpful.

[2018-05-18 04:02] Smorgan05 commented on #359
Is there no way for you guys to tell me functionally or logically how OneGet Pulls and Interprets the results of the Uninstall Keys?  I need to be able to take inventory of this logic.

[2018-05-18 05:01] Smorgan05 commented on #359
Are there any flow diagrams which show how the providers interact with Get-Package?  Furthermore, are there any internal diagrams kept for OneGet at all?

[2018-05-22 04:24] thnk2wn opened #360 "Install-Package: No match was found for the specified search criteria and package name"
I'm unable to use Install-Package for a valid Nuget package ([MetadataExtractor](https://www.nuget.org/packages/MetadataExtractor/)) using PS 6.0.2 on Mac. Am I doing something wrong?

![screenshot](https://user-images.githubusercontent.com/120529/40341688-619ac462-5d3b-11e8-8752-0ebdb91d0aaa.png)

Install-Package with Version and Destination

<pre>
PS /Users/hudgeo> Install-Package MetadataExtrac

[2018-05-22 19:48] bmanikm commented on #360
@thnk2wn
Support for NuGet v3 sources got added in [1.2.0-preview](https://www.powershellgallery.com/packages/PackageManagement/1.2.0-preview) version of the PackageManagement module, take a look at the release notes for more details.

You can install this preview version using Install-Module command.

[code]

[2018-05-23 04:00] thnk2wn commented on #360
Thanks @bmanikm. It also seems adding "-AllowPrerelease" is required for this.

However after installing and starting a new PS session, installing the package just results in execution hanging indefinitely:

![hang](https://user-images.githubusercontent.com/120529/40402882-106691d4-5e03-11e8-95ca-b7891072d4bd.png)

[2018-05-23 04:12] thnk2wn commented on #360
@bmanikm After quite some time it eventually came back with an error:

<pre>
Install-Package : Unable to find dependent package(s) (System.Reflection.Emit.Lightweight)
At line:1 char:1
+ Install-Package MetadataExtractor
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
+ CategoryInfo          : ObjectNotFound: (System.Reflection.Emit.Lightweight:String) [Install-Package], Exception
+ FullyQualifiedErrorId : Un

[2018-05-23 06:44] Smorgan05 commented on #359
Are there any more materials that you can give into order to properly integrate these features?  I want to do this right.

[2018-05-23 14:33] edyoung commented on #359
We don't maintain any secret behind-the-scenes documentation - anything we have is available from GitHub and linked to from https://github.com/OneGet/oneget/blob/WIP/readme.md . I suggest creating a pull request for a small part of the changes you want (for example, filling in one property).

[2018-05-24 23:05] bmanikm opened #361 "Packages which depend on unlisted modules cannot be installed or saved"
_From @MaximoTrinidad on May 24, 2018 20:32_

I've been seen this for sometime with one particular package:
[code]
But, just to find our that it wasn't only one package.

## Expected Behavior

To install the package successfully.

## Current Behavior

It can't install due to missing dependencies:
[code]

## Possible Solution

I could not find a workaround as I can't even use the Save-Package cmdle

[2018-05-24 23:05] bmanikm commented on #361
_From @MaximoTrinidad on May 24, 2018 20:44_

@SteveL-MSFT / @joeyaiello

I'm tagging you both just in case PowerShell Core has to do with this issue to.
I have no issues with Windows!

:)

[2018-05-24 23:06] bmanikm commented on #361
This is a duplicate of https://github.com/OneGet/oneget/issues/322.

It looks like all the versions of System.Reflection.Emit.Lightweight  and System.Reflection.Emit packages got unlisted on NuGet.org.

[code]

[2018-05-29 14:16] turbolego commented on #360
@bmanikm -AllowPreRelease does not work for me?

[code]

[2018-05-29 18:39] bmanikm commented on #360
@thnk2wn It looks like all the versions of System.Reflection.Emit.Lightweight and System.Reflection.Emit packages got unlisted on NuGet.org. This is a duplicate of #322.

@turbolego Prerelease versioning support was enabled in 1.6.0 version of the PowerShellGet module. To install the prerelease versions of a module, you need to install the latest version of PowerShellGet first using the instructio

[2018-05-30 07:27] turbolego commented on #360
Thank you @bmanikm !

Worked for me:

[code]

[2018-05-30 11:29] TypicalTom opened #362 "Write-S3Object : Method not found"
Hi,

I've had a look around and I don't think this has been raised before, I've also done some searching of the internet to find similar experiences, I have found [this](https://forums.aws.amazon.com/thread.jspa?messageID=805387&tstart=0): and neither of the responses have solved my issue.

I am trying to write an object to an S3 bucket using the following cmdlet:

Write-S3Object -Region "eu-west-

[2018-05-30 13:07] TypicalTom commented on #362
Having re-looked at how I got to this github, I may be posting in the wrong place, apologies if so

[2018-05-30 13:39] edyoung commented on #362
Hi Tom - looks to me like this is a problem in the Amazon PowerShell module, not in OneGet, which is just used to install modules. I think you need to report the issue to the owner of that module. Good luck!

[2018-05-30 13:39] #362 closed

[2018-05-31 09:45] TypicalTom commented on #362
Hi Ed,

Thanks, I did start to suspect that, I'll re-post now.

Tom

[2018-06-01 16:14] cprivite commented on #344
This also makes it impossible to upgrade to newer versions of PowerShellGet.

[2018-06-02 03:15] edyoung commented on #359
https://blogs.technet.microsoft.com/heyscriptingguy/2014/01/02/leverage-registry-key-time-stamps-via-powershell/ might help

[2018-06-02 05:36] Smorgan05 commented on #359
Ok, from a forensics, security auditing, and functional perspective that is just absurd.  There is no guarantee that the information will be there in terms of the InstallDate or LastWrite.  I suggest we use the following script from a porting perspective:

https://gallery.technet.microsoft.com/scriptcenter/Get-RegistryKeyLastWriteTim-63f4dd96

In order to implement a property that uses Reflection

[2018-06-02 17:21] vors opened #363 "Packages published from macOS to the gallery are not compatible with PackageManagement 1.0"
This was brought up in https://github.com/PowerShell/platyPS/issues/356
PlatyPS 0.9.0 is the first version that was published from macOS.
As far as I understand,  PackageManagement uses `dotnet` cli as nuget client on linux/mac.
Installing.

Previous version of platyPS module (published from windows), worked fine on PSv3 an PM v1.0
The last one throws the exception on `Install-Module`.

[code]

Up

[2018-06-02 17:33] edyoung commented on #359
You can freely publish documentation, articles, blog posts etc. If you want to change the existing documentation it is covered by an open source license and we can look at pull requests

[2018-06-05 23:09] MaximoTrinidad commented on #361
OK Everyone! Here's an update...

I realized that Nuget has another version out there: **Microsoft.SqlServer.SqlManagementObjects 140.17267.0-preview**

I decided to installed it on my Windows 10 WSL Ubuntu PowerShell Core and it did installed fine.

![windowswsl_smo_2018-06-05_18-56-58](https://user-images.githubusercontent.com/19892435/41007112-56143386-68f2-11e8-9a67-054f2cca2916.jpg)

**_BUT!!

[2018-06-07 04:37] edyoung commented on #361
As @bmanikm bmanikm mentions above we think this is due to all the versions of  System.Reflection.Emit.Lightweight and System.Reflection.Emit packages having recently been unlisted on nuget.org (see https://github.com/dotnet/corefx/issues/29365 for the backstory on that). I can't understand why the behavior would be different between different distributions - maybe you already had those packages i

[2018-06-07 23:19] bgavrilMS commented on #361
Is this the root cause issue for not being able to use Install-Package on a package with unlisted dependencies? This seems to be breaking a lot of people, including https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1081

[2018-06-07 23:36] edyoung commented on #361
This issue covers modifying install-package to allow installing a module even if all the versions of a dependency are unlisted. The current behavior has been there forever but the recent unlisting of those popular packages has caused a lot more real-world issues.

[2018-06-13 22:59] jirkapok commented on #6
Can you elaborate more what are the constraints, why this is not easy?
1. get-package to resolve last installed version of a package
2. find-package command gives you latest version
3. If they differ install the latest version

[2018-06-14 20:58] Jaykul commented on #6
To me, it seems **far easier** than even what @jirkapok posted, @edyoung (and in fact, I don't like that suggestion).

PackageManagement's `Update-Package` should work the way everything else does. It should expose a method which providers can implement (or not).

I don't need the PackageManagement module to decide _how_ things should be updated. I don't want PackageManagement to try and impose it

[2018-06-16 07:38] Smorgan05 commented on #359
Ok, I plan to look into doing this.  One thing needs to be addressed as a note going into this.  I think you guys are straight lying about the lack of documentation.  The logic behind this is that there are developer notes strewn through out your code indicating proposed changes.  Now, I will accept that you don't want to publish that documentation and that Microsoft has a long way to go in terms

[2018-06-16 07:52] Smorgan05 commented on #359
Ok, I accept that you guys suck at documentation which is being charitable.  Now do you have anyone I can talk to in order to piece together the overarching diagrams so I have an understanding of how OneGet Works?  I will not take no for an answer.

[2018-06-16 15:50] edyoung commented on #359
You can see the tests we have in the same repository.

On Sat, Jun 16, 2018 at 1:22 AM, Morgan Overman <notifications@github.com>
wrote:

[2018-06-19 01:03] darkmastermindz commented on #359
Up to the task of generating better documentation and cleaning up code!

[2018-06-20 03:46] Smorgan05 commented on #359
I've decided to flip my CheckModule to a public repository and moved the Program Provider source over to the same repository.  In order to port the PowerShell version over to C#.  The code comment style being used is overkill and at the same time lacking.  There is another issue here which is that the Program Provider still has debugging libraries in use which slow down the execution of PackageMan

[2018-07-11 19:17] Smorgan05 commented on #359
Ok, I know it has been some time since I last replied to this thread but I was away.  Anyways I've gone ahead and posted the draft design diagrams to move this forward.  Any code rewrites are going to have these so that we have an easier time keeping up with changes.

[2018-07-16 16:06] AlexKeySmith opened #365 "Oneget.org status page"
I believe onget.org being down for a short amount of time was causing Install-PackageProvider to fail.

Below is logs from a VSTS build step.

Is there a status page that be used by the public?

[code]

[2018-07-16 16:14] samuelbcollie commented on #365
I'm having the same problem. Same command and same error output.

[2018-07-16 16:17] JKeithB commented on #365
Thanks for notifying us, we're working on it now.

[2018-07-16 16:40] JKeithB commented on #365
Please let us know if the issue has been resolved for you.
As near as we can tell internally, it was a transient DNS issue with the forwarding record that routes OneGet.org to Github/OneGet/OneGet

[2018-07-16 17:02] samuelbcollie commented on #365
This seems to have fixed my problem.

[2018-07-17 10:44] AlexKeySmith commented on #365
Cool thanks guys, yes it was fixed for me just as I posted.

It would be handy to have a status page / automatic status checker so the community is aware. Or even a uptime metrics so the community can decide whether to put in their own fallbacks if it's being used for build servers.

[2018-07-18 23:15] jianyunt commented on #322
@bmanikm  we want to `install-package A` to be succeeded even if A's dependencies are missing? After the installation, `A` may not be loaded. However that's still better than failing in install-package.  Possibly we can give people `warning` if dependencies are missing.

[2018-07-19 15:34] edyoung commented on #322
@jianyunt not exactly. If dependency is missing, we fail. If it is present but unlisted, we will succeed.

[2018-07-19 16:42] jianyunt commented on #322
Thanks @edyoung for the explanation. In the unlisted case, I guess we will install the unlisted packages too. Should we consider giving a warning or implement shouldcontinue (Module `A` got unlisted, would you like to continue something like that) to notify user the module is unlisted (it may have some problems)?

[2018-07-19 21:10] Smorgan05 commented on #359
@edyoung Can I possible get some debugging instructions on the Core Provider?  Thanks!

[2018-07-19 21:19] jianyunt commented on #341
@ alerickson to repro the problem, you need to have a personal access token as logon password.  I guess
- you need to have access permission to the source location
- create personal access token
    You can go to https://msazure.visualstudio.com/, click on your picture, select Security, and add will generate a token

- install-package -Name "Microsoft.Kusto.Tools" -Source "https://msazure.pkgs.vis

[2018-07-21 06:31] milindsmart commented on #6
Any updates on this? Especially in the light of [MSIX](https://github.com/Microsoft/msix-packaging)?

[2018-07-22 01:28] Smorgan05 opened #366 "Debugging OneGet Source"
How does one go about debugging the **Microsoft.PackageManagement.CoreProviders** in C#.  To be clear I am **not talking about a PS based provider** this is for the C# in OneGet which links up to the registry.  I am specifically talking about this part of OneGet:

* oneget-WIP\src\Microsoft.PackageManagement.CoreProviders\ProgramsProvider.cs

My understanding from looking at the source code in the

[2018-07-24 07:21] Stephanevg opened #367 "Install-Module -Path (?)"
Hi guys,

We have a custom repository, where we upload our custom modules.

Registering the repository, I can influence the location of where the module will be installed via the following command:

[code]

That will install the module in ```C:\ProgramFiles\WindowsPowerShell\Modules.```

We want to seperate our custom modules from the ones of our clients, and for that, we wanted to have them in a

[2018-07-24 18:02] JKeithB commented on #367
Please post issues regarding PowerShellGet should be raised in Github.com/powershell/powershellget.
In response to your question:
Take a look at Save-Module, which has a Path option and will copy dependencies. What it will not do is the validation steps (eg: test-modulemanifest & validating signatures) that are done by Install-Module. With your scenario, that doesn't look like a problem.
Install-M

[2018-08-15 19:56] Smorgan05 commented on #366
@edyoung is there any chance I could get this answered?

[2018-08-16 16:28] jianyunt commented on #366
@Smorgan05, Here is the way I debugged it before:
- git clone this repo
- complile the code https://github.com/oneget/oneget#building-the-code
- using vscode or Visual Studio attach to the powershell process

We should release the pdb files and snap shot the source code for future releases so developers do not need to compile the code again. Sorry @Smorgan05 for the inconvenience.

[2018-08-16 21:58] bmanikm commented on #320
Getting below error for `[System.Lazy[System.Boolean]]$true` on WSL - Ubuntu 18.04 OS with 6.1.0-preview.4

### On WSL - Ubuntu 18.04 OS with 6.1.0-preview.4
[code]

### On Windows PowerShell 5.1
[code]

[2018-08-22 21:49] Jaykul opened #370 "Get-Package from NuGet is missing crucial dependency information"
When I `Install-Package` and then `Get-Package` the returned object has a `Dependencies` property, but it has lost the **crucial** `<group>` information!

For instance, if we:
[code]

We get:
[code]

But I can't tell:
- Why are there five copies of the same dependency
- That I don't actually need this dependency if I'm on PowerShell 5

As an aside:

Regardless.

My goal is to use this SemanticVers

[2018-08-23 11:35] Outek commented on #270
Any update on this issue?

[2018-08-23 15:49] apetitjean commented on #165
Indeed this is a missing cmdlet. I also would like to have it because as we have ```Install-PackageProvider``` we should have ```Uninstall-PackageProvider```.

[2018-08-23 17:07] jianyunt commented on #270
The PackageManagement version https://www.powershellgallery.com/packages/PackageManagement/1.2.0-preview supports V3 already.
You may try it to see if works for you.

install-module PowerShellGet -force -verbose -Repository PSGallery
install-module PackageManagement -force -verbose -AllowPrerelease -Repository PSGallery

[code]

@alerickson is working on some bug fixes for our V3 nuget provider.

[2018-08-26 18:51] edyoung commented on #366
As Jianyun says, best way to debug c# code loaded into PowerShell is to attach debugger to powershell.exe or launch it as the startup project, then have it run a script to load your module and exercise your cmdlet or other code. Breakpoints in the C# implementation will be hit if symbols are set correctly, and you can single-step through the code as normal.

[2018-08-26 18:51] #366 closed

[2018-08-27 17:43] jianyunt opened #371 "Fix test issues"
OneGet checkin and daily test runs are busted. A few issues:
- Test runs are not reported in PR. -- Missing checkin checks.
We need to update the Appveryor site. Currently https://ci.appveyor.com/project/jianyunt/oneget/build/1.0.531/job/m2q688474fqwr3y6

- it reported as pass, actually failed. We need to fix it before we can publish a version of NuGet Provider and PackageManagement.

[2018-08-30 11:55] AlexisColes opened #372 "PackageManagement resource fails to download package, "Unable to resolve packge source""
I have declared a source
[code]

which I am trying to use like so...

[code]

Also trying to get something from the public feed

[code]

output as follows

[code]

This same code seems to work fine on other boxes, I can't work out what is different about these new ones...
If I log onto the boxes and just do an Install-Module it works ok.

[2018-09-06 15:30] jzabroski commented on #371
Thank you, @jianyunt !!

[2018-09-06 17:04] electricJP opened #373 "find-package / install-package failling for network share source"
I'm trying to setup usage of a local repo. But somehow package cannot be installed:

[code]
I renamed some text for security reason.
Install-package will fail too.

[code]

I tried on several servers (2008R2 and Win2012R2) and got the same behaviour.

JP

[2018-09-06 17:29] #341 closed

[2018-09-13 09:30] lenged opened #375 "install-package can not install software"
hi， I have a problem about install-package

when i use install-package vim -Source Chocolatey to install vim8.0 in my pc

but when I type vim in powershell， the error occurs
**### The term 'vim' is not recognized as the name of a cmdlet, function, script file,**

[2018-09-13 21:04] edyoung commented on #375
It is possible the path variable was not updated by the chocolatey package for vim. Try opening a new shell window and see if vim works there

[2018-09-14 15:28] blakeduffey commented on #195
I am still not able to install modules when in FIPS mode.  Is there any intent on correcting this?

[2018-09-26 20:11] musm opened #377 "How to update oneget?"
[code]

I would like to upgrade oneget and delete the old version.

[2018-09-26 20:34] alerickson commented on #377
You can add -force parameter as those instructions state to install 2.0.1 and then run:
    Uninstall-Module PowerShellGet -RequiredVersion 1.6.7
To delete the old version.

[2018-09-26 20:36] musm commented on #377
[code]

That doesn't work unfortunately

[2018-09-26 21:46] alerickson commented on #377
Try running:
Install-Module PowerShellGet -Force -AllowClobber -Verbose
(you may get a warning saying a version of PackageManagement is in use).

Then run:
Get-Module PowerShellGet -ListAvailable

[2018-09-26 23:27] alerickson commented on #377
In a new admin console, try running:
Install-Module PowerShellGet -Force -AllowClobber -Verbose
(you may get a warning saying a version of PackageManagement is in use).

Then run:
Get-Module PowerShellGet -ListAvailable

[2018-09-26 23:30] musm commented on #377
THat works, but then is there no way to uninstall 1.6.7 ?

[2018-09-26 23:48] alerickson commented on #377
Uninstall-Module won't work with that particular module because it came pre-installed with PowerShell 6.  You can manually delete it though.

[2018-09-27 01:32] musm commented on #377
Ok thanks, seems very strange.

Oneget should ideally have a simple mechanism for inplace upgrades...

[2018-09-27 17:40] alerickson commented on #377
Install/Uninstall-Module are PowerShellGet cmdlets and PowerShellGet will upgrade or uninstall only the modules it has installed.

[2018-09-27 17:42] #377 closed

[2018-09-28 16:27] jjneuhart opened #380 "MsuProvider should not rely on QueryHistory"
The MsuProvider currently relies on the QueryHistory method of the Windows Update Agent API. This is an unreliable reporting mechanism as the Windows Update Agent history will be deleted if the C:\Windows\SoftwareDistribution is deleted or moved, which is a common troubleshooting technique when Windows Update Agent is misbehaving. A more reliable method might be to use the IUpdateSearcher.Search()

[2018-10-02 20:57] #367 closed

[2018-10-08 03:46] lenged commented on #375
I try again， but it don‘t work.  I guess it may be powershell can't run install script, because I find the install script in " C:\Chocolatey\bin" , and when I run the install script “ emacsclientw.bat” manally， it can work.
when I use "get-executionPolicy" the result is “Unrestricted”， please help me fix this error

[2018-10-08 04:25] edyoung opened #386 "Get-PackageSource not updated after registering a new one"
Repro:

[code]

Expected: show me the source I just registered.

[2018-10-08 04:31] edyoung commented on #386
It looks like Register-PackageSource is not working correctly.

[code]

[2018-10-08 04:45] edyoung commented on #375
I don't think emacsclientw.bat has anything to do with vim, they are separate editors.

There are 2 package providers for chocolatey (they are written by the community).

It worked for me by following these steps:

[code]

You could try "choco search vim' - that might show additional info

[2018-10-08 04:46] edyoung commented on #386
Maybe this is expected? I can run Install-Package -Source chocolatey successfully. But the behavior is weird.

[2018-10-08 06:28] lenged commented on #375
there is an new error， when I flow your steps to install package， what should I do？
[code]

[2018-10-12 18:45] cage200 commented on #361
It will be nice if Save-Packages will have a flag -SkipDependencies.

[2018-10-12 19:05] edyoung commented on #361
@cage200 that seems unrelated to this issue?

[2018-10-16 22:15] alerickson commented on #371
Resolved #384

[2018-10-16 22:15] #371 closed

[2018-10-16 22:18] alerickson commented on #353
Resolved #384

[2018-10-16 22:18] #353 closed

[2018-10-16 22:30] alerickson commented on #312
Please see section on [writing a OneGet provider](https://github.com/OneGet/oneget/blob/WIP/docs/writepowershellbasedprovider.md)

[2018-10-16 22:30] #312 closed

[2018-10-16 22:38] #360 closed

[2018-10-16 22:41] alerickson commented on #349
Resolved #351

[2018-10-16 22:41] #349 closed

[2018-10-17 03:38] TertiusR commented on #166
This still hasn't been fixed? Btw, if you download and install it from MS (one to have to import-module ISEModuleBrowser Every. Damn. Time you open ISE) the setup program will blow away the above customizations putting you back to square one again.

[2018-10-17 10:43] shurick81 commented on #301
I noticed that on the machines where the package provider is installed properly, I can run this download command without issues:
[code]

However, on those machines that have issues with installing the package provider, this downloading command generates the following error:

[code]

Can you see the same correlation on your side? Can anyone suggest the solution?

[2018-10-17 13:14] cage200 opened #389 "Save-Package for Nuget provider downloads lots of dependencies"
Hi guys,

A nuget package has dependencies.The first level dependencies are the ones which you normally expect to be downloaded.

But the command
`Save-Package  -Name NLog -RequiredVersion 4.5.10 -Path "C:\Temp"`

will download all the frameworks dependencies. I got 110 packages for this command and I assume it is different from machine to machine.

I get  packages like the ones below:
"System.IO.

[2018-10-17 20:59] BatmanAMA opened #390 "No Error or action on register-psrepository"
## Action
Register-PSRepository -Default

## Expected Responses

* PSGallery is registered
* An Error Occurs

## Actual Response

Nothing occurs

## Additional Information

I set $DebugPreference to true and I see it's trying to ping a different url (https://go.microsoft.com/fwlink/?LinkID=397631&clcid=0x409) entirely. This fails due to firewall restrictions and the command returns $Null instead o

[2018-10-17 21:49] alerickson commented on #390
Could you move this issue to the [PowerShellGet](https://github.com/PowerShell/PowerShellGet/issues) repository since register-psrepository is a PowerShellGet cmdlet?

[2018-10-18 12:51] BatmanAMA commented on #390
opened [PowerShellGet#350](https://github.com/PowerShell/PowerShellGet/issues/350) in reference for this. Thanks for pointing me the right direction.

[2018-10-18 12:51] #390 closed

[2018-10-24 16:13] edyoung opened #393 "StackOverflow downloading package from nuget.org"
Repro:

[code]
This is with PackageManagement version 1.2.2, Nuget packageoprovider 3.0.0.1

[2018-10-24 16:19] edyoung commented on #393
If I register the V2 endpoint instead, different error:

[code]

[2018-10-24 20:57] monban commented on #373
Have you created the feed using the `nuget init` or `nuget add` commands? You can find a good [summary of creating a local package feed in the nuget documentation](https://docs.microsoft.com/en-us/nuget/hosting-packages/local-feeds).

[2018-10-24 21:27] garyke opened #394 "Find package fails with Exception: Cannot implicitly convert type 'string' to 'long'"
Find package fails with Exception: Cannot implicitly convert type 'string' to 'long'
when trying to access msazure nuget repo.

This is blocking my scenario for using download GenevaMonitoringAgent.

PS C:\Users\loginaccount> get-packageprovider

Name                     Version          DynamicOptions
----                     -------          --------------
msi                      3.0.0.0

[2018-10-26 22:59] electricJP commented on #373
In the end I created a NuGet server to avoid using a network share

[2018-10-27 13:48] it-praktyk opened #395 "How can I use the ShellLink Class directly from PowerShell?"
Hi!

In [the documentation ](https://msdn.microsoft.com/en-us/library/microsoft.oneget.utility.platform.shelllink(v=vs.85).aspx) I found that the class ShellLink exists. I want to try to use it directly in the PowerShell to examine existing shortcuts.

I expect that I have to use the [Add-Type](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/add-type?view=powershell

[2018-10-31 18:44] alerickson commented on #395
I think that doc may be outdated.  I don't see any ShellLink class under utility.

[2018-11-05 22:54] adityapatwardhan opened #397 "`RequiredVersion` filtering does not work with Azure DevOps NuGet feed"
`RequiredVersion` filtering does not work with Azure DevOps NuGet feed. All packages are listed when RequiredVersion is not specified.

[code]

[code]

[2018-11-08 19:25] #394 closed, assigned to nobody

[2018-11-08 20:08] #397 closed

[2018-11-13 21:54] lcizzle opened #400 "PowerShell Core 6.1.1 x64/x86 side by side installation."
(Was told to move my issue here)
I have installed 6.1.1 x64 and x86 msi on a fresh install of Windows 10 1803. The installation process was ok, no errors. I opened the x64 version and ran Get-PackageProvider, returned expected results. Opened the x86 version and ran Get-PackageProvider and received an unhandled exception.

[code]

[2018-11-15 02:45] tlsalex opened #402 "How does PackageManagement work (it is not an issue,but makes me confuse)"
what is not clear to me : PowerShell Package Management - Repository vs Provider vs Source

I am trying to understand package management in PowerShell, and I am getting an incomplete picture. When I look at the objects PSRepository, PackageProvider, and PackageSource, they all seem to have the following relationships:

A PSRepository can provide zero or more PowerShell modules. A PSRepository must

[2018-11-15 05:49] edyoung commented on #402
PackageManagement is a generic system for installing many kinds of packages. PowerShellGet is specifically for installing PowerShell items (modules, scripts and DSC resources).

In PackageManagement, a PackageProvider is something which manages a particular *kind* of package, for example Nuget or Chocolatey. A PackageSource is a particular site which contains packages. So Nuget is a PackageProvide

[2018-11-16 02:35] tlsalex commented on #402
![why](https://user-images.githubusercontent.com/36788337/48592240-64be1800-e982-11e8-8a4e-11a235f959e1.PNG)
![installation](https://user-images.githubusercontent.com/36788337/48594401-588a8880-e98b-11e8-9e69-253859cfe3d1.PNG)

Hey @edyoung ,
Thank you ,now I understand the relationship between PSrepository and package source. but I still not quite clear for this case. I want to know the process w

[2018-11-16 07:07] edyoung commented on #402
I think my explanation above already answers most of the questions you have about the relationship between PSRepository, PackageSource and PackageProvider. Please take another look.

To cover the overall flow:

When you run Install-Package Treesize, PackageManagement enumerates all the PackageSources you have registered. For each of those, it loads the PackageProvider for that source, and then ask

[2018-11-19 18:08] alexsmid commented on #345
@jwittner this seems to have been fixed again in version 1.2.3, can you double check?

[2018-11-20 23:00] MathieuHamel opened #403 "Find-Module fails to retrieve packages, "Unable to resolve package source""
I recently updated my packages to use PackageManagement version 1.2.3 and PowerShellGet 2.0.3 but it fails on properly finding any PowerShell modules privately hosted on Azure DevOps Artifact Service (formerly known VSTS package management service). It does not matter if a module name has been specified or not. The PSCredential object passed to Find-Module is using a personal access token.

It wor

[2018-11-21 15:53] edyoung commented on #403
Thanks for the detailed bug report. We'll take a look

[2018-11-21 18:08] alerickson commented on #403
I'll take a look at this today

[2018-11-22 12:48] cmorenoh opened #404 "Unable to install NuGet"
I'm not able to install NuGET in my Windows 2016 DCs with the following error:

PS C:\Users\administrador> Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force
Install-PackageProvider : Unable to find repository with SourceLocation ''. Use Get-PSRepository to see all available repositories.
At line:1 char:1
+ Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force
+ ~~

[2018-11-23 22:33] alerickson commented on #404
Can you please run `Get-PSRepository`, then run `Get-PackageSource` and share the results?  I think the issue might be that you don't have a Nuget repository registered.

[2018-11-25 09:35] cmorenoh commented on #404
Here is the results you asked for:

PS C:\Users\administrador> Get-PSRepository

PackageManagement\Get-PackageSource : Unable to find module providers (PowerShellGet).

At C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\1.0.0.1\PSModule.psm1:4458 char:31

+ ... ckageSources = PackageManagement\Get-PackageSource @PSBoundParameters

+                    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2018-11-25 23:34] alerickson commented on #404
Can you update to the latest version of [PackageManagement](https://www.powershellgallery.com/packages/PackageManagement/1.2.3) and [PowershellGet](https://www.powershellgallery.com/packages/PowerShellGet/2.0.3) first?

[2018-11-26 08:20] cmorenoh commented on #404
I’m no table to install modules you specify, because I’m not able to install NuGet.

This is the results when executing both commands:

PS C:\Users\administrador> Install-Module -Name PackageManagement

PackageManagement\Install-PackageProvider : Unable to find repository with SourceLocation ''. Use Get-PSRepository to see all available repositories.

At C:\Program Files\WindowsPowerShell\Modules\

[2018-11-26 20:50] alerickson commented on #404
Try running `Register-PSRepository -default` first to register the PowerShell Gallery.
And run` gmo packagemanagement -ListAvailable` to see what versions of Package Management you have

[2018-11-27 01:47] edyoung opened #405 "Update-Module is picking prerelease packages without -AllowPrerelease"
This is using PowerShellGet, but presumably PackageManagement commands would work too.

[code]

Observed: Version 4.0.0-alpha9 is installed, should be 3.0.0 since -AllowPrelease was not specified.

This appears to be a new issue in 1.2.3

[2018-11-29 23:30] #404 closed

[2018-11-29 23:38] alerickson commented on #403
Just a follow up,  I did some debugging and it's definitely an issue with the cached data.  Also noticed the cmds always find the correct modules the first go around, but subsequent attempts seem throw the "unable to resolve package source" warning.

[2018-11-29 23:39] #402 closed

[2018-11-29 23:43] alerickson commented on #389
This is expected behavior.  I'll close this issue since it's a duplicate of #232 and is already linked there.

[2018-11-29 23:43] #389 closed

[2018-11-30 11:54] bergmeister opened #408 "Packagemanagement is being built using .Net Core 2.0 which is not supported any more"
PowerShell Core is consuming the netcoreapp2.0 binaries, it should be upgraded to 2.1, which is supported and also an LTS version
cc @SteveL-MSFT

[2018-11-30 21:34] alerickson commented on #408
Thanks for bringing this to our attention

[2018-11-30 21:37] #405 closed

[2018-12-01 09:56] bergmeister commented on #408
By looking at it, you are multitargeting `net451`, `netcoreapp2.0`, and `netstandard1.6`. Since PowerShell Core implements .Net standard 2.0 already since version 6.0, I suggest to only build against `net451` and `netstandard2.0`, this is what PSScriptAnalyzer does as well. Do you agree or do you have a specific use case for the way you multi-target?

[2018-12-04 21:48] SteveL-MSFT commented on #408
Agree with @bergmeister that it should be sufficient to target net451 and netstandard2.0

[2018-12-15 12:30] agowa338 opened #413 "Install-Package for NuGet Dependencies"
Can we please add the capability to pull nuget libraries in such a way, that packages from nuget.org can be installed to be used inside of powershell scripts, without requiring a nuget package (like nuget.exe does) first?
It is also a bit confusing, that the command inside of visual studio is also named "Install-Package", so can we get that functionality globally?

I've tried to fetch a NuGet libr

[2018-12-17 22:04] SydneyhSmith opened #414 "Offline Copy?"
Opening for @Petri-X

Hi Team,
To be able to run Install-PackageProvider you need to be local administrator. But as we all know it is a security risk if your local administrator account have access to internet. So how I could get offline copy (download by my regular account with less credentials) and then do the local installation?

[2018-12-17 22:12] SydneyhSmith commented on #414
@Petri-X you may be able to use the Save-Package cmdlet depending on what Package Provider you are trying to install. This article https://docs.microsoft.com/en-us/powershell/gallery/how-to/working-with-local-psrepositories may also be a helpful example of how to get a PackageProvider (PSGet) on a disconnected system

[2018-12-18 12:01] bergmeister opened #415 "CI testing for coreclr is not testing against RTM version of PowerShell Core but 6.0.0-beta.5 and 6.0.0.14-alpha.14 and other build/test problems"
CI testing for coreclr is performed against old version of pscore.
The old whole build system has not been maintained at all in the last years, leading to a big pile of debt that makes it difficult to move anything forward due to inter dependencies:
- 'Legacy' tests need to be removed (by legacy the code refers to the old `6.0.0.14` alpha version of PSCore
- Pester needs to be bootstrapped now sin

[2018-12-20 05:31] SCuffy commented on #400
Experienced same NuGet installation failure with 6.1.1 x64 and x86 msi on a fresh Win 10 1809.
Downgraded to 6.0.5 which worked with no errors.

[2018-12-20 19:39] edyoung commented on #400
That's a strange one. I have installed 6.1.1 x64 and x86 on the same computer, but so far I can't reproduce this problem. Can you provide results from:
[code]

[2018-12-20 21:16] alerickson commented on #415
*  'Legacy' tests need to be removed (by legacy the code refers to the old 6.0.0.14 alpha version of PSCore
     **This is actually a Nano Server specific test, hence the use of that particular version of PSCore.  As we move to netstandard2.0 we should certainly update this as well.**

 * Pester needs to be bootstrapped now since it is not included in PowerShell any more
     **That change sounds

[2018-12-20 22:13] bergmeister commented on #415
@alerickson Thanks, I am glad that you agree, PR #416 fixes most of the points
What I meant by  'netstandard is not working' is that 80% of the tests would fail if I made the code use the netstandard binaries in the main psm1 file (I did an experiment in another one of my branches)

[2018-12-22 12:44] daviddavid97 opened #418 "My mother tongue is not English. The commands are too long to remember."

[2018-12-22 21:08] edyoung commented on #418
Hi, sorry you're having trouble. You could maybe use aliases (see https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_aliases?view=powershell-6) to make shorter names for commands you find difficult to remember.

[2018-12-23 01:07] daviddavid97 commented on #418
Thank you.

[2018-12-23 01:07] #418 closed

[2018-12-24 01:06] SCuffy commented on #400
OK weird, it's working for me now. Got to love a transient error!

[2018-12-31 17:42] Smorgan05 opened #420 "Question: MSI Install Location"
Are there any plans to resolve the install location / Source when it is empty  (specifically the UninstallKey -> InstallLocation entry is blank on the registry side).  When I execute the "Get-Package -ProviderName msi" many of them have a blank Source. Thanks.  Also happy new years.

[2019-01-02 05:19] edyoung commented on #420
I'm afraid there are no specific plans to work on the MSI provider at this time. Would be open to considering pull requests.

The properties exposed for MSI packages are calculated by calling the Windows Installer API (see https://github.com/OneGet/oneget/blob/WIP/src/Microsoft.PackageManagement.MsiProvider/Deployment/WindowsInstaller/ProductInstallation.cs), we don't reference any registry locati

[2019-01-02 16:17] edyoung commented on #420
If what you really want is the size, there's an ARPSIZE property in Windows installer which MAY provide a better size than finding a folder and then enumerating the contents, but that's an optional property so not all msi packages will have it populated. It should be possible to expose this as an extra property from get-package, but it would be null some of the time.

In general I don't think it w

[2019-01-03 14:10] Smorgan05 commented on #420
Ok, I'm just gonna respond paragraph by paragraph to be concise.  The ARPSIZE Property is mostly useless because it won't get me a good return in terms of the install size and there is no clean way to get the install location to manually calculate it via folder enumeration.  That's just what I can see as I've been running through methods to map the install location to the MSI without much success.

[2019-01-03 20:42] lcizzle commented on #400
Not sure why you would close this. Doesn't work for me and I even formatted.

`PS C:\Users\Daedalus> Get-Module

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Manifest   3.1.0.0    Microsoft.PowerShell.Management     {Add-Content, Clear-Content, Clear-Item, Clear-ItemPropert...
Manifest   6.1.0.

[2019-01-04 06:19] edyoung commented on #420
I believe the main effort on the Windows Installer side is going into MSIX at present (https://docs.microsoft.com/en-us/windows/msix/ ). I'm not really up-to-speed on it personally so don't know if it addresses your scenarios. For now I'm closing this issue because there doesn't seem to be anything actionable in OneGet.

[2019-01-04 06:19] #420 closed

[2019-01-04 14:53] lcizzle opened #421 "PowerShell Core 6.1.1 x64 & x86 side by side installation issues."
I have installed 6.1.1 x64 and x86 msi on a fresh install of Windows 10 1803. The installation process was ok, no errors. I opened the x64 version and ran Get-PackageProvider, returned expected results. Opened the x86 version and ran Get-PackageProvider and received an unhandled exception.

I created this issue before and it was closed without reply just because one other person said it all the su

[2019-01-05 13:17] agowa338 commented on #413
If you have a nuget project in visual studio, you can specify which dependencies you want, currently PowerShell scripts only allow PowerShell modules as dependencie, even though you can import the nuget modules just fine, if you download them manually.
For example if I want to use https://www.nuget.org/packages/HtmlAgilityPack/ inside of a PowerShell script, it is somewhat irritating, as it is not

[2019-01-06 04:11] kilasuit opened #422 "Minor issue with incorrect package size being returned at the end of package installation"
I was recently installing a specific version of AzureRM module in PowerShell using `Install-Module` and noticed that at the end of a package being installed there was an incorrect package length being shown as per the below

![screenshot 6](https://user-images.githubusercontent.com/6355225/50731908-244f6f00-1167-11e9-9781-5b0e5d2ca513.png)

Where as just seconds beforehand it had been showing corr

[2019-01-07 22:59] alerickson commented on #422
Were you able to reproduce this?  I took a look and also couldn't discern where exactly this is happening.

[2019-01-08 00:56] alerickson commented on #400
@lcizzle I apologize for preemptively closing this issue.
I haven't been able to repro this on my own.  I'm getting the same results as your those in your last comment, except that `Get-Module` also returns
`Script     1.1.7.2    PackageManagement   {Find-Package, Find-PackageProvider, Get-Package, Get-Pack...`
PowerShellCore ships with PackageManagement, so I'm a bit surprised it's not returning

[2019-01-08 00:58] alerickson commented on #421
I just re-opened your previous issue since there's more information provided there.

[2019-01-08 00:58] #421 closed

[2019-01-09 17:36] lcizzle commented on #400
@alerickson Let me check the latest preview version and post back.

[2019-01-09 17:49] lcizzle commented on #400
@alerickson I uninstalled both x86 and x64 6.1.1. Installed only x86 6.2.0 preview 3.

`PowerShell 6.2.0-preview.3
Copyright (c) Microsoft Corporation. All rights reserved.

https://aka.ms/pscore6-docs
Type 'help' to get help.

PS C:\Users\Daedalus> Get-PackageProvider
Get-PackageProvider : Unhandled Exception - Message:'The type initializer for 'Microsoft.PackageManagement.Internal.Utility.Plugin

[2019-01-11 23:44] #415 closed

[2019-01-14 02:34] dancs85 commented on #400
I am also getting the same error while running "Get-PackageProvider":
[code]
I only have PowerShell 6 x86 installed:
[code]

Windows 10: 1803 build 17134.523

[2019-01-16 17:56] vicp-iq commented on #327
I ran across this too.  I propose that it could be resolved by replacing https://github.com/OneGet/oneget/blob/WIP/src/Microsoft.PackageManagement.DscResources/MSFT_PackageManagement/MSFT_PackageManagement.psm1#L106
and
https://github.com/OneGet/oneget/blob/WIP/src/Microsoft.PackageManagement.DscResources/MSFT_PackageManagement/MSFT_PackageManagement.psm1#L359

with

[code]

[2019-01-23 18:10] kilasuit opened #426 "Add argument completers to the module"
I find it really annoying that this module doesn't ship with Argument Completers.

As a Feature Request it would be great if arguments could be completed for at least the source Parameter on all commands from sources that are available to search

[2019-01-25 22:37] SydneyhSmith opened #428 "Packages cannot be installed from nuget.org V3 Source Location"
Package installation is broken for nuget.org V3 (https://api.nuget.org/v3/index.json), the source location must be set for V2 (https://www.nuget.org/api/v2).

Reproduction:
![image](https://user-images.githubusercontent.com/43417619/51776583-b84d9000-20ae-11e9-9bfb-cd3559998b08.png)

[2019-01-27 23:11] SphenicPaul commented on #403
Hi all,

Is there an estimated "fix" date for this, or/and a suitable workaround?

I'm wanting to register a PSRepository on the (hosted) Azure DevOps build server(s) as part of the build process so I can use "Find-Module" and "Install-Module" in order to find/install/use my own PSModules hosted in my own, private PSRepositories. These PSRespositories are currently hosted within Azure DevOps "Arti

[2019-01-30 19:41] darksidemilk opened #429 "Duplicate version 1.3"
# The Problem

The latest version of packagemanagement appears to have been released twice in the powershell gallery. Once as 1.3 and then again as 1.3.0.

However, because both are listed and are both equal to 1.3, any versioning automations someone may have can end up catching both versions as the latest and mess up automatic upgrading.

## A bit more detail

This is happening to me while using

[2019-01-30 19:42] darksidemilk commented on #429
Also, please and thank you. Don't want to sound all demanding or anything like that.

[2019-01-30 19:46] darksidemilk commented on #429
I just went to the powershell gallery to add links to each published version and found that 1.3 and 1.3.0 were both unlisted now, so maybe someone caught this before I put it here.

[2019-01-30 21:51] darksidemilk commented on #429
It seems to be a somewhat intermittent issue. Can't recreate it 100% of the time. May be related to another issue when the chocolatey for business package manager license expires. That sometimes seems to effect powershell package management in weird ways.

[2019-01-30 23:16] darksidemilk commented on #429
It appears 1.3.1 has been released.
https://www.powershellgallery.com/packages/PackageManagement/1.3.1
For this I say thank you good sirs.

[2019-01-30 23:16] #429 closed

[2019-01-31 00:55] alerickson opened #430 "Unable to install module hosted on a private baget server nuget feed (v3)"
### PowerShellGet version:
[code]

Environment data
----------------

[code]

[code]

[code]

### Describe the bug
I'm unable to install from (though I am able to publish to) PowerShell modules using the `Install-Module` PowerShell commandlet in [PowerShellGet](https://github.com/PowerShell/PowerShellGet), which is the recommended way to install PowerShell modules from a NuGet feed.

### To Reprod

[2019-01-31 00:56] alerickson commented on #430
My `/v3/index.json` file looks like this

[code]

[2019-01-31 01:12] edyoung commented on #429
I'm going to close this for now, because as far as I can tell there isn't a duplicate version of packagemanagement 1.3. If you or anyone else has a more reliable repro case, please feel free to reopen this with details or file a new issue. Hope that makes sense.

[2019-01-31 07:02] junkiebev commented on #430
This may have something to do with a ‘-type all’ value not being provided to find-package on v3 feeds. It doesn’t have a default value.

[2019-02-01 06:44] loic-sharma commented on #430
It looks like the bug is [here](https://github.com/OneGet/NuGetProvider/blob/4dd78f1fec4bb3d54932a2c11f805e3c939bdd7c/NuGetResources/NuGetPackageFeed3.cs#L69) as it requires a "type" property on registration resources. NuGet.org provides this property, however, the property isn't documented in [the official registration documentation](https://docs.microsoft.com/en-us/nuget/api/registration-base-ur

[2019-02-01 14:32] bergmeister commented on #428
Yes, please. Also provide better guidance on how to use Packagemanagement and PowerShellGet together with Azure DevOps. The best guidance so far is this super old issue [here](https://github.com/MicrosoftDocs/PowerShell-Docs/issues/1200#issue-227526581) that also described that v3 does not work.

[2019-02-06 16:55] Jaykul opened #431 "Uninstall-Package LYING about uninstalling MSIs"
Does `Uninstall-Package` not actually do anything for MSIs except fake it?

Earlier this morning, I wanted to remove some old .NET Core SDKs, because they install side-by-side, and I have a dozen or more.

I determined that the following command would select all but the newest one. Please note the **horrifying** need to cast the Version property to a Version type (it's actually a string) so that s

[2019-02-06 17:19] Jaykul opened #432 "Versions should be sortable!"
I think it's obvious that *everything* in PowerShell needs to move _as quickly as humanly possible_ to the [NuGet.Versioning.SemanticVersion] class in place of System.Version ... but regardless of the method used:

### `Get-Package` should not output objects with a string `Version` property

It's not possible for users to tell, while looking at it, resulting in pipelines like this:

[code]

Which

[2019-02-06 18:10] edyoung commented on #431
Uninstall-Package is generally able to uninstall packages, ie this is not a universal problem. I'm not sure quite how widespread it is.

In this case the .NET Core SDK package has another package dependent on it. When Uninstall-Package calls into Windows Installer to do the uninstall, the operation "succeeds" and does nothing, which I'll agree is pretty surprising.

We can tell this is Windows Ins

[2019-02-06 18:17] Jaykul commented on #431
I think it would be reasonable to do that when `-Force` is specified.

But it would be even _more_ reasonable to produce an _error_ when the uninstall ... doesn't.

[2019-02-06 18:28] SteveL-MSFT commented on #431
Please don't use `-Force`, I would much prefer `-IgnoreDependencies`.  Since this is an understood behavior of MSI, perhaps `uninstall-package` should check after "uninstall" and confirm whether it was uninstalled otherwise emit a non-terminating error.

[2019-02-06 18:37] edyoung commented on #431
I'm reluctant to incur Joel's wrath by adding more -YesIReallyMeanIt flags.

IgnoreDependencies isn't even part of the MSI standard properties, it's a Wix extension. I _think_ this could be considered an authoring error in the affected MSIs, because they are not handling the return from the custom action properly.

Windows Installer is very confident that the uninstall succeeded- it returns 0 and

[2019-02-06 23:49] Jaykul commented on #431
The problem, @SteveL-MSFT, is that

1. `IGNOREDEPENDENCIES=ALL` is a speshul property which only works with _some_ MSIs (ones produced by WIX, when they actually have dependencies they know about) ...
2. The command `Uninstall-Package` is generic, but does **already** have a `-Force` in _all_ of it's parameter sets (which the MSI provider could choose to interpret this way, maybe).

However, the M

[2019-02-07 02:03] SteveL-MSFT commented on #431
I care less about what you decide to call that switch, but overloading `-Force` makes it less meaningful.  Basically, everyone will just end up adding `Force=$true` in their PSDefaultParameterValues because they just want it "to work".

[2019-02-07 06:07] junkiebev commented on #430
Does the repo just need to be registered with a different package provider than NuGet, even though the feed conforms to the NuGet spec and the Module Type is queryable? That'd be unfortunate...

[2019-02-09 03:21] loic-sharma commented on #430
@junkiebev No, it seems that OneGet has a bug where it makes an incorrect assumption about a NuGet protocol.

@alerickson This should be fixed as the `@type` property is not an official part of the NuGet protocol. This property is present in nuget.org's responses due to an implementation detail of RDF, which is how we generate our JSON. This property may be removed in the future if we remove our d

[2019-02-13 12:37] mrhockeymonkey commented on #327
The fix for this actually got merged into the PowerShellGet module here: https://github.com/PowerShell/PowerShellGet/pull/347/files

I'm not sure that this has been released to PSGallery yet but when it does using this module should be used as it will have ongoing support

[2019-02-13 17:59] natescherer opened #433 "Changelog for 1.3.1"
Unless I'm just missing it, the changes in 1.3.1 aren't listed anywhere? There's not a GitHub release for it, there's no CHANGELOG.md file in the code and the PrivateData ReleaeNotes aren't populated in the psd1. Is there somewhere else changes in releases are communicated?

[2019-02-13 19:11] alerickson commented on #433
No, there's been no change log as far as I know, but I'll add one.  Most recent release only has targeting changes-- previous build targets were net451, netcoreapp2.0, and netstandard1.6, it's now just net452 and netstandard2.0

[2019-02-18 09:07] #433 closed

[2019-02-18 18:39] natescherer commented on #403
I'm seeing this same behavior. Has there been a fix developed for this yet/a general date for when a fix could be expected?

For anyone else who runs across this, here's a kludgy workaround in the meantime. This assumes you have nuget.exe installed and in your PATH (I tried, but couldn't make this work with the dotnet CLI).

[code]

[2019-02-19 16:42] SydneyhSmith opened #435 "Unistall-Package not working"
Issue copied from Microsoft-Docs: opened by @francesco1119
https://github.com/MicrosoftDocs/PowerShell-Docs/issues/3723#issue-411366439

As you can see by the picture Get-Package *notepad* is showing the package but Get-Package *notepad* | Uninstall-Package -Force is not removing it.
![image](https://user-images.githubusercontent.com/43417619/53031723-3f79f380-3422-11e9-8910-ee8cfb54e9cf.png)
I tr

[2019-02-19 16:54] SydneyhSmith commented on #435
@francesco1119 thanks for reporting this issue! It would be helpful if you could also provide the output of
```$PSversiontable``` and ```Get-PackageProvider```

[2019-02-20 08:05] francesco1119 commented on #435
Get-PackageProvider:

[code]

$PSVersionTable:

[code]

[2019-02-20 19:35] francesco1119 commented on #435
The same happens on windows 10 Enterprise

![enterprise](https://user-images.githubusercontent.com/3397477/53119132-9ebb3d80-35b3-11e9-8ea1-a84f17d11970.png)

Get-PackageProvider:

[code]

$PSVersionTable:

[code]

[2019-02-21 02:22] gdbarron commented on #403
@natescherer, thanks so much for you code.  This worked for most of my needs, but had 2 issues and thought I would share my updates.  If the module name contains periods or there are `#requires` statements, this will fail.  Make sure required modules are first in the `$ModulesNames` list.

[code]

[2019-02-21 03:08] gdbarron commented on #403
@SphenicPaul, if you are using this in Azure Pipelines, is there any reason why you can't use the [nuget restore task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget?view=azure-devops#restore-nuget-packages) to access Azure Artifacts?

[2019-02-21 18:24] natescherer commented on #403
@gdbarron Good updates! Nothing I use from internal NuGet has periods in the spaces or dependencies on other modules, so I didn't even consider. Glad you found my code useful.

[2019-02-22 06:18] edyoung commented on #435
This occurs because NotePad++ is not installed using Windows Installer (msi), so it is found only by the Programs PackageProvider, not the MSI PackageProvider. The Programs PackageProvider does not implement uninstall - I am not sure why not. Seems like a bug to silently do nothing.

As a workaround, get-package *notepad* |% { & $_.Meta.Attributes["UninstallString"]} works

[2019-03-03 09:36] orangudan commented on #165
Also agree with this.

[2019-03-06 14:52] whiggs opened #436 "Unable to read file to calculate its hash"
So I am using powershellget to update my packagemanagement module (ironically) to the latest version, as I can see that I am a few versions out of date.  However, when I run the "Install-module" command to install the latest packagemanagement module to my machine, I see:
[code]
While normally I would think this an issue with powershellget, the error message clearly indicates the packagemanagement

[2019-03-06 16:17] edyoung commented on #436
Could you try running it with -verbose -debug and include the output?

In this case, a temp file created while installing the packagemanagement
package couldn't be read, can't tell why. One thing I have seen occasionally is a overzealous anti-virus program blocking access while it scans temp files.

[2019-03-10 06:58] JustinGrote commented on #164
FYI I came here because I tried ExternalModuleDependencies = 'mydependency' and it turns out you *have* to wrap it in an array, a single string will fail with this message.

[2019-03-25 07:42] TwoSeven99 commented on #165
I think it is pretty awful having an install but no uninstall.

[2019-03-27 08:12] MajorSho opened #437 "Intermittent 503 issue with oneget.org packages"
OneGet.org keeps going down (And coming back up) intermittently

We are sometimes seeing a 503 error "Service Unavailable" and then it will start working again no issues however it being unreliable today is causing some issues.

Example error from VTFS logs:
2019-03-27T08:05:19.1414947Z WARNING: MSG:UnableToDownload «https://oneget.org/nuget-2.8.5.208.package.swidtag» «»
2019-03-27T08:05:19.428348

[2019-03-27 09:11] Suzamax commented on #437
I have this issue too! 😞

[code]

oneget.org throws 503 too.